// Use .grid-row to define a row for grid columns to sit in
.grid-row {
  @extend %grid-row;
}

// Use .grid-column to create a grid column with 15px gutter
// By default grid columns break to become full width at tablet size
.column-quarter,
.column-one-quarter {
  @include grid-column(1 / 4);
}

.column-half,
.column-one-half {
  @include grid-column(1 / 2);
}

.column-third,
.column-one-third {
  @include grid-column(1 / 3);
}

.column-two-thirds {
  @include grid-column(2 / 3);
}

.column-full {
  @include grid-column(1);
}

@mixin grid-column($width, $full-width: tablet, $float: left) {

  @include media($full-width) {
    float: $float;
    width: percentage($width);
  }

  @include ie-lte(7) {
    width: (($site-width + $gutter) * $width) - $gutter;
  }

  padding: 0 $gutter-half;
  @include box-sizing(border-box);
}

// #design
@mixin grid-column-b($width, $full-width: tablet, $float: left) {

  @include media($full-width) {
    float: $float;
    width: percentage($width);
  }

  @include ie-lte(7) {
    width: (($site-width + $gutter) * $width) - $gutter;
  }
  $gutter-half: 60px;
  padding: 0 $gutter-half;
  @include box-sizing(border-box);

  @include media(mobile) {
    padding-left: $gutter*0.5;
    padding-right: $gutter*0.5;
  }

  @include media(tablet) {
    padding-left: $gutter*0.5;
    padding-right: $gutter*0.5;
  }

  @include media(desktop) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}


%grid-row {
  @extend %contain-floats;
  margin: 0 (-$gutter-half);
}

%grid-row-b {
  @extend %contain-floats;
  @include media(mobile) {
    margin: 0 (-$gutter*0.5);
  }
  @include media(tablet) {
    margin: 0 (-$gutter*0.5);
  }
  @include media(desktop) {
    $gutter-half: 60px;
    margin: 0 (-$gutter-half);
  }
}

#content {
  @extend %site-width-container;
  @extend %contain-floats;
  // Pressing enter when focus is on the skiplink sets focus on the #content area
  // Remove the blue outline
  outline: none;
}

%site-width-container {
  max-width: $site-width;

  @include ie-lte(8) {
    max-width: $site-width;
  }

  // @include media(tablet) {
  //   margin-left: $outer-grid-margin * 5;
  //   margin-right: $outer-grid-margin * 5;
  // }

  // @include media(mobile) {
  //   margin-left: $outer-grid-margin * 5;
  //   margin-right: $outer-grid-margin * 5;
  // }

  @include media($min-width: ($site-width + $outer-grid-margin * 2)) {
    margin: 0 auto;
  }
}

%outdent-to-full-width {
  margin-left: -$gutter-half;
  margin-right: -$gutter-half;

  @include media(tablet) {
    margin-left: -$gutter;
    margin-right: -$gutter;
  }
}