.section {
  @extend %site-width-container;
}

.section.tight {
  margin-bottom: $baseline;
}

.section.mid {
  margin-bottom: $baseline*2;
}

.section.loose {
  margin-bottom: $baseline*4;
}

// Section break

.section-break-lg {
  border-top: $thick solid #005ea5;
  margin-top: $baseline*2;
}

.section-break-sm {
  border-bottom: $thin solid $gray;
  margin-top: $baseline;
}