<footer class="footer-background">
  <div class="footer">
    <nav class="nav">
      <ul class="nav-links">
        <li>
          <a href="#">Contact us</a></li><li>
          <a href="#">Privacy & Cookies</a></li><li>
          <a href="#">Terms & Conditions</a></li><li>
          <a href="#">Feedback</a></li>
      </ul>
      <ul class="social">
        <li>
          <a href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a></li><li>
          <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a></li><li>
          <a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a></li><li>
          <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a></li><li>
          <a href="#"><i class="fab fa-linkedin"></i><span>Linkedin</span></a></li><li>
          <a href="#"><i class="fab fa-flickr"></i><span>Flickr</span></a></li>
      </ul>
    </nav>
  </div>
</footer>