<footer class="footer-container">
  <div class="footer-top">
    <div class="footer">
      <div class="nav">
        <ul class="nav-links">
          <li class="copyright">© 2019 Essex County Council</li><li>
            <a href="#">About</a></li><li>
            <a href="#">Contact us</a></li><li>
            <a href="#">Privacy & Cookies</a></li><li>
            <a href="#">Terms & Conditions</a></li><li>
            <a href="#">Feedback</a></li>
        </ul>
        <ul class="social">
          <li>
            <a href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a></li><li>
            <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a></li><li>
            <a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a></li><li>
            <a href="#"><i class="fab fa-flickr"></i><span>Flickr</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer">
      <nav class="nav">
        <a href="/docs/core/essex-design-system" class="design-link">Built by the Service Design Team</a>
      </nav>
    </div>
  </div>
</footer>
