<header class="header-background" role="banner">
  <div class="header">
    <nav class="nav">
      <a href="/" class="logo-text">Essex.gov.uk<span>Beta</span></a>
      <form action="/search" method="get" class="form">
        <div class="group search" role="search">
          <div class="search-input">
            <label for="search">Search</label>
            <input type="text" id="search" name="search">
            <input type="submit" value="search" title="search" class="visually-hidden">
            <i class="fas fa-search search-icon-position"></i>
          </div>
        </div>
      </form>
    </nav>
  </div>
</header>