<section class="section search-bar">
  <form action="/search" method="get" role="search" class="form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Essex County Council" id="full-name" name="name" {{ checked("index", "name") }} required>
      <!-- <input type="submit" class="button search" value="Search"> -->
      <!-- <label class="search-label">Search Essex County Council</label> -->
    </div>
  </form>

  <div class="grid-row">
    <div class="column-quarter">
      <a class="button search-section" href="#" role="button">Bus passes</a>
    </div>
    <div class="column-quarter">
      <a class="button search-section" href="#" role="button">Renew library items</a>
    </div>
    <div class="column-quarter">
      <a class="button search-section" href="#" role="button">School admissions</a>
    </div>
    <div class="column-quarter">
      <a class="button search-section" href="#" role="button">Job vacancies</a>
    </div>
</section>
