<div class="search-background">
  <div class="overlay"></div>
  <div class="hero">
    <div class="search">
      <div class="search-box">
        <h1>Welcome to Essex</h1>
        <div class="search-input">
          <form action="/search" method="get" role="search" class="form">
            <div class="group">
              <div class="search-input">
                <label for="search">Search essex.gov.uk</label>
                <input type="text" placeholder="Search essex.gov.uk" id="search" name="search" class="js-search-focus">
              </div>
              <div class="search-button">
                <input type="submit" value="search" class="visually-hidden">
                <i class="fas fa-search search-icon-position"></i>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>