<div class="signup">
  <div id="content">
    <p>
      Get the latest news and information about your council services straight to your inbox
    </p>
    <form action="/search" method="get" role="search" class="form">
      <div class="form-group">
        <div class="grid-row">
          <div class="column-two-thirds">
            <input type="text" class="form-control" placeholder="Enter your email address" id="full-name" name="name" {{ checked("index", "name") }} required>
          </div>
          <div class="column-third">
            <input type="submit" class="button subscribe" value="Subscribe">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>