<div class="signup-background">
  <div class="signup">
    <h3 class="h2">
      Stay up to date 
    </h3>
    <p>Get the latest news and information about your council services</p>
    <form action="/search" method="get" role="search" class="form">
      <div class="group">
        <div class="signup-input">
          <input type="text" class="form-control" placeholder="Enter your email address" id="full-name" name="name" required="">
        </div>
        <div class="signup-button">
          <input type="submit" class="button subscribe" value="Subscribe">
        </div>
      </div>
    </form>
<!--     <ul class="social">
      <li>
        <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a></li><li>
        <a href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a></li><li>
        <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a></li><li>
        <a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a></li><li>
    </ul> -->
  </div>
</div>