// Alert

.alert {
  border: $border-thick solid $error;
  text-align: center;
  padding: $baseline*0.5 $gutter*0.5;
  margin-bottom: $baseline;
  .fa-exclamation-triangle {
    font-size: 2em;
  }
  h3 {
    margin-top: $baseline*0.25;
    margin-bottom: $baseline*0.25;
  }
  p {
    margin-top: $baseline*0.25;
  }
  p:last-child {
    margin-bottom: 0;
  }
  .fa-exclamation-triangle {
      color: $error;
  }
}
