.button-bar-background {
  background-color: $grey-lighter;
  overflow: hidden;
  position: relative;
  padding-top: $baseline;
  padding-bottom: $baseline;
  .button-bar-container {
    @extend %site-width-container;
    .button-bar {
      @extend %grid-row;
      flex-wrap: wrap;
      display: flex;
      .bar-button {
        @include grid-column(1 / 3);
        display: flex;
        @include media(mobile) {
          width: 100%;
          margin-bottom: $baseline*0.25;
        }
        .button {
          font-size: $small;
          font-weight: $normal;
          color: $black;
          text-align: center;
          background: none;
          border: $border-thin solid $brand;
          padding-bottom: $baseline*0.5;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: $brand;
          }
          &:focus {
            background-color: $button-search-box-hover;
            outline: $border-thick solid $focus-colour;
          }
        }
      }
    }
  }
}