.contents {
  @extend %grid-row;
  .heading, ol, ul {
    @include grid-column(1 / 1);
  }
  .heading h2 {
    font-size: $body;
    margin-top: 0;
    margin-bottom: $baseline*0.5;
  }
  ol, ul {
    margin: 0;
    font-size: $smaller;
    list-style-position: inside;
    list-style: none;
    li {
      padding-left: 0;
      margin-bottom: $baseline*0.25;
      &:before {
        content: "— ";
        margin-right: 5px;
      }
      @media print {
        a {
          text-decoration: none;
        }
      }
      &:last-child {
        padding-bottom: $baseline*2;
        margin-bottom: $baseline;
        border-bottom: $border-thin $grey solid;
      }
    }
    li:nth-child(n+10) {
      margin-left: 0px;
      padding-left: 0px;
    }
  }
}