.contents {
  @extend %grid-row;
  @media print {
    display: none;
  }
  .heading, ol, ul {
    @include grid-column(1 / 1);
  }
  .heading h2 {
    font-size: $body;
    letter-spacing: 0;
  }
  ol, ul {
    @include small;
    margin: 0;
    list-style-position: inside;
    list-style: none;
    li {
      padding-left: 0;
      margin-bottom: $baseline*0.75;
      &:before {
        content: "\2014 ";
        margin-right: 5px;
      }
      @media print {
        a {
          text-decoration: none;
        }
      }
      &:last-child {
        padding-bottom: $baseline*2;
        margin-bottom: calc($baseline - #{$border-thin});
        border-bottom: $border-thin $grey solid;
      }
    }
    li:nth-child(n+10) {
      margin-left: 0px;
      padding-left: 0px;
    }
  }
}