.cookies {
  @media print {
    display: none;
  }
  background-color: $grey-dark;
  padding: $baseline*0.75 $gutter*0.25;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  p {
    color: $white;
    display: inline;
    @include media(mobile) {
      display: block;
    }
    a {
      color: $white;
    }
  }
  .button {
    float: right;
    @include media(mobile) {
      float: none;
    }
    border-color: $white;
    background-color: $white;
    color: $text-colour;
  }
}

// http://silktide.com/cookieconsent


// link within cookies
a.cc_more_info {
  color: $link;
  &:hover {
    color: $hover;
  }
}

// button

a.cc-btn {
  @include button;
  background-color: $white !important;
  border-color: $white !important;
  color: $black !important;
  &:hover {
    background-color: $white-on-black-hover !important;
    border-color: $white-on-black-hover !important;
    color: $black !important;
  }
}

// banner 

.cc-banner {
  background-color: $link !important;
}