.cookies {
  background-color: $grey-dark;
  padding: $baseline $gutter;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  p {
    color: $white;
    display: inline;
    a {
      color: $white;
    }
  }
  .button {
    float: right;
    background-color: $white;
    color: $text-colour;
  }
}
