.footer-container {
  @media print {
    display: none;
  }
  .footer-top {
    background-color: $very-black;
    padding-top: $baseline;
    padding-bottom: $baseline;
    font-size: $smaller;
  }
  .footer-bottom {
    background-color: $very-black;
    padding-top: 0;
    padding-bottom: $baseline;
    font-size: $smaller;
  }
  .footer {
    @extend %site-width-container;
    position: relative;
    .nav {
      @extend %grid-row;
      .nav-links {
        @include grid-column(3 / 4);
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        @include media(mobile) {
          margin-bottom: $baseline;
        }
        li {
          padding-left: 0;
          display: inline;
          a {
            color: $white;
            line-height: $baseline;
            font-weight: $normal;
            &:hover, &:active, &:visited {
              color: $white-on-black-hover;
            }
          }
        }
      }
      .social {
        @include grid-column(1 / 4);
        text-align: left;
        margin-top: 0;
        margin-bottom: 0;
        li {
          padding: 0 $gutter*0.05 0 $gutter*0.05;
          a {
            font-size: $body;
            color: $white;
            &:hover {
              color: $white-on-black-hover;
            }
          }
        }
        @include media(tablet) {
          text-align: right;
        }
      }
      .copyright, .design-link {
        text-align: left;
        color: $white;
        line-height: $baseline*1.25;
        a {
          color: $white;
          &:hover {
            color: $white-on-black-hover;
          }
        }
      }
      .design-link {
        @include grid-column(1 / 1);
      }
    }
  }
}