.footer-container {
  @media print {
    display: none;
  }
  .footer-top, .footer-bottom {
    padding-top: $baseline;
    font-size: $smaller;
  }
  .footer-top {
    background-color: $brand3;
  }
  .footer-bottom {
    background-color: $brand4;
    padding-bottom: $baseline;
  }
  .footer {
    @extend %site-width-container;
    position: relative;
    .nav {
      @extend %grid-row;
      .nav-links {
        @include grid-column(8 / 12);
        margin-top: 0;
        margin-bottom: 0;
        li {
          display: inline-block;
          padding-left: 0;
          margin-bottom: $baseline;
          a {
            color: $white;
            line-height: $baseline;
            font-weight: $normal;
            &:hover, &:active, &:visited {
              color: $white-on-black-hover;
            }
          }
        }
      }
      .social {
        @include grid-column(4 / 12);
        text-align: right;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: $baseline;
        @include media(mobile) {
          text-align: left;
        }
        li {
          // padding: 0 $gutter*0.05 0 $gutter*0.05;
          margin-left: $padding-thin;
          a {
            font-size: $body;
            color: $white;
            &:hover {
              color: $white-on-black-hover;
            }
          }
        }
      }
    }
    ul.credits {
      @extend %grid-row;
      list-style: none;
      padding-left: 0;
      li {
        padding-left: 0;
        display: inline;
      }
      .design-link {
        a {
          float: right;
        }
        @include media(mobile) {
          display: block;
          a {
            float: left;
          }
        }
      }
      .copyright, .design-link {
        @include grid-column(6 / 12);
        display: block;
        color: $white;
        line-height: $baseline*1.25;
        text-align: left;
        @include media(mobile) {
          margin-bottom: $baseline;
        }
        a {
          color: $white;
          &:hover {
            color: $white-on-black-hover;
          }
        }
      }
    }
  }
}