.form .group {
  display: block;
  label, span, input {
    @include default-type;
    text-transform: none;
    display: block;
  }
  span {
    font-size: $body;
    font-weight: 300;
    color: $grey;
  }
  select, input, textarea {
    width: 100%;
  }
}