.header-background {
  background-color: $brand;
  height: auto;
  position: relative;
  z-index: 100;
  @include box-shadow(0px 1px 1px 0px $black);
  height: $nav-height;
  @media print {
    height: auto;
  }
  .header {
    @extend %site-width-container;
    @extend %contain-floats;
    @media print {
      margin: 0 $gutter;
    }
    .nav {
    @extend %grid-row;
      a.logo-text {
        @include grid-column(1 / 2);
        color: $white;
      }
      span {
        color: $white;
      }
    }
  }
}