.header-background {
  background-color: $brand;
  height: $nav-height;
  .header {
    @extend %site-width-container;
    .nav {
      @extend %grid-row;
      .logo {
        @include grid-column(1 / 2);
        margin-top: $logo-height*0.5;
        margin-bottom: $logo-height*0.5;
        img {
          height: $logo-height;
          width: $logo-width;
        }
      }
      a.logo-text {
        @include grid-column(1 / 2);
        display: inline-block;
        font-family: $stack-logo;
        font-size: $baseline;
        margin-top: $nav-height*0.25;
        text-transform: uppercase;
        color: $white;
        line-height: $logo-height;
      }
      ul.nav-links {
        @include grid-column(1 / 2);
        li {
          margin-left: $gutter*0.5;
          margin-right: 0;
          a {
            color: $white;
            line-height: $nav-height;
            &:hover, &:active {
              color: darken($white, $darken);
            }
          }
        }
      }
    }
  }
}