.impact {
  position: relative;
  .hero {
    @include media(tablet) {
      background-position-x: center;
      background-position-y: center;
    }
    @include media(desktop) {
      background-position-x: 0;
      background-position-y: 0;
    }
  }
  .overlay {
    position: absolute;
  }
}

.impact, .hero {
  display: inline-block;
  float: left;
}

.impact {
  .overlay {
    background: $overlay-brand;
  }
  .overlay-box {
    @include grid-column(1 / 2);
    position: relative;
    background: $white;
    margin: $gutter*0.5;
    padding: $gutter*0.5 !important;
    @include media(mobile) {
      padding: 0 !important;
      margin: 0;
    }
    .overlay-content {
      @include media(mobile) {
        padding: 0;
        h2 {
          font-size: ms(6);
          line-height: $baseline*1.5;
          padding: $baseline $gutter*0.25;
          background: $highlight-box;
          margin-bottom: $baseline*0.5;
          a {
            color: $white;
          }
        }
        p {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: $baseline;
          border-bottom: $border-normal $link solid;
        }
      }
      h2, h3 {
        margin-top: 0;
      }
    }
  }
}

@media print {
  .impact {
    .hero {
      display: none;
    }
    .overlay {
      position: relative;
      margin-top: 0;
      margin-bottom: 0;
      .overlay-content {
        h2, h2 a, p {
          color: $black;
          text-decoration: none;
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
        }
        h2 {
          margin-top: 0;
        }
      }
    }
  }
}