.more-background {
  text-align: center;
  margin-top: $baseline*3;
  margin-bottom: $baseline*3;
  width: 100%;
}

.button.more, a.button.more {
  color: $white;
  background-color: $brand;
  border-color: $brand;
  padding: $baseline*0.5 $gutter*0.5;
  &:hover {
    border-color: $brand-hover-darken;
    background-color: $brand-hover-darken;
  }
}