.pagination {
  @extend %grid-row;
  margin-top: $baseline*2;
  margin-bottom: $baseline*2;
  ul {
    padding-left: $gutter*0.5;
    list-style: none;
    li.prev, li.next {
      float: left;
      width: 50%;
      margin-bottom: $baseline;
      @include media(mobile) {
        float: none;
        width: 100%;
      }
    }
    li.next a {
      text-align: right;
      @include media(mobile) {
        text-align: left;
      }
    }
    a {
      @include box-sizing(border-box);
      padding: $gutter*0.5;
      display: block;
      text-decoration: none;
      &:hover {
        background: $grey-lighter;
      }
      span.pagination-item {
        font-size: 27px;
        line-height: 1.25em;
        display: block;
        svg {
          margin-right: $gutter*0.5;
        }
        & + span {
          display: block;
          text-decoration: underline;
        }
      }
    }
  }
}