// Banner
.phase-banner-background {
  background-color: $brand2;
  border-bottom: $border-thin solid #b6c9cd;
}

.phase-banner {
  @extend %site-width-container;
  @media print {
    display: none;
  }
  padding: $baseline*0.5 0;
  p {
    font-size: $small;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.phase-tag {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $bold;
  display: inline-block;
  padding: $baseline*0.25 $gutter*0.5;
  margin-right: $gutter*0.25;
  margin-bottom: $baseline*0.25;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: $white;
  background-color: #005ea5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@include media(mobile) {
  .phase-text {
    display: table-cell;
    vertical-align: baseline;
  }
}