// Banner

.phase-banner {
  @extend %site-width-container;
  @media print {
    display: none;
  }
  margin-top: $baseline*0.75;
  margin-bottom: $baseline*0.75;
  padding-bottom: $baseline*0.25;
  border-bottom: 1px solid $grey-light;
  p {
    font-size: $small;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.phase-tag {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $bold;
  display: inline-block;
  padding: $baseline*0.25 $gutter*0.5;
  margin-right: $gutter*0.25;
  margin-bottom: $baseline*0.25;
  outline: 2px solid transparent;
  outline-offset: -2px;
  color: $white;
  background-color: #005ea5;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@include media(mobile) {
  .phase-text {
    display: table-cell;
    vertical-align: baseline;
  }
}

// .header-background + .phase-banner {
//   border-bottom: none;
// }
