.preview-list {
  .show, .hide {
    display: block;
    margin-top: $baseline;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
  li {
    border-bottom: $border-thin solid $grey-dark;
    margin-top: $baseline*0.5;
    margin-bottom: $baseline*0.5;
    padding-left: 0;
    p {
      margin-top: $baseline*0.25;
      margin-bottom: $baseline*0.5;
    }
  }
  &.steps .step {
    padding-bottom: $baseline*0.5;
    border-bottom: $border-thin solid $grey-dark;
    li {
      border-bottom: none;
    }
  }
  input.checkbox, .hide {
    display: none;
  }

  // show and hide for "show" and "hide" toggle
  input[aria-expanded="false"] + label.show + label.hide {
    display: none;
  }

  input[aria-expanded="true"] + label.show {
    display: none;
  }

  input[aria-expanded="true"] + label.show + label.hide {
    display: block;
  }

  label.show, label.hide {
    cursor: pointer;
    color: $link;
    text-decoration: underline;
    &:hover {
      color: $hover;
    }
  }
}
