.preview-list {
  .show, .hide {
    display: block;
    margin-top: $baseline;
  }
}

input.checkbox, .hide {
  display: none;
}

input[aria-expanded="false"] + label.show + label.hide {
  display: none;
}

input[aria-expanded="true"] + label.show {
  display: none;
}

input[aria-expanded="true"] + label.show + label.hide {
  display: block;
}

label.show, label.hide {
  cursor: pointer;
  color: #005ea5;
  &:hover {
    text-decoration: underline;
  }
}
