.previews {
  @extend %grid-row;
  .preview {
    @include grid-column(1 / 3);
    padding-top: $baseline;
    padding-bottom: $baseline;
    img {
      margin-top: $baseline;
      width: 100%;
      @media print {
        display: none;
      }
    }
    h4 + p {
      margin-top: 0;
    }
    .meta {
      font-size: $small;
      margin-bottom: $baseline*0.5;
      + .sub-section-heading {
        margin-top: 0;
      }
    }
  }
  &.primary {
    margin-top: $baseline*2;
    margin-bottom: $baseline*2;
    @extend %grid-row-b;
    @include media(mobile) {
      .sub-section-heading {
        margin-bottom: $baseline*0.25;
      }
    }
    .preview {
      @include grid-column-b(1 / 3);
      &:nth-child(2) {
        border-left: $border-thin solid $grey-light;
        border-right: $border-thin solid $grey-light;
      }
    }
  }
}