// Preview

.previews {
  @extend %grid-row;
  .preview {
    @include grid-column(1 / 3);
    img {
      margin-top: $baseline;
      width: 100%;
    }
    h4 + p {
      margin-top: 0;
    }
    .meta {
      font-size: $small;
      margin-top: 0;
    }
  }
}