// as see top of internal searched pages
.form {
  .group.search {
    @media print {
      display: none;
    }
    @include media(desktop) {
      max-width: $site-width;
      margin: 0 auto;
    }
    outline: none;
    position: relative;
    margin-bottom: $baseline;
    label, input {
      @include box-sizing(border-box);
      // line-height: $baseline;
      padding: $form-padding*2 + $border-thick;
      width: calc(100% - #{$gutter - $border-normal});
    }
    label {
      $color: $body-text-colour;
      background: $white;
      z-index: 0;
      margin-right: 0;
    }
    input {
      &::-ms-clear {
        display: none;
      }
    }
    input {
      text-transform: none;
      text-indent: -5000px;
      background: transparent;
      position: absolute;
      left: 0;
      top: 0;
      height: 60px;
      width: calc(100% - #{$gutter - $border-normal});
      &:focus {
        left: 0;
        text-indent: 0;
        background: #fff;
        outline-offset: 0;
        padding: $form-padding*2;
        z-index: 10;
      }
    }
    .fas.fa-search.search-icon-position {
      @include box-sizing(border-box);
      font-size: $icon*0.5;
      line-height: $icon*0.5;
      color: $white;
      text-align: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 12px;
      background: $brand;
      width: $gutter;
      z-index: 100;
      &:hover {
        cursor: pointer;
        color: $white-hover;
      }
    }
  }
}