.header {
  position: relative;
  .form {
    @include grid-column(1 / 2);
    @include media(mobile) {
      float: left;
      width: 100%;
      margin-top: $baseline;
      margin-bottom: $baseline;
    }
    .group.search {
      @media print {
        display: none;
      }
      position: relative;
      float: right;
      width: $gutter*4;
      margin-top: $baseline*0.5;
      margin-bottom: $baseline*0.5;
      @include media(mobile) {
        float: left;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        height: $form-height*0.75;
      }
      input {
        margin-top: 0;
        margin-bottom: 0;
        border-color: $white;
        @include media(mobile) {
          border-color: $black;
        }
      }
      label, input {
        @include box-sizing(border-box);
        font-size: ms(0);
        padding: $baseline*0.25;
        line-height: $baseline;
        height: $form-height*0.75;
        position: absolute;
        left: 0;
        width: calc(100% - #{$form-height*0.75;});
        @include media(desktop) {
          border: none;
        }
      }
      .fas.fa-search.search-icon-position {
        padding: $baseline*0.25;
        position: absolute;
        top: 0;
        bottom: 0;
        background: $white;
        font-size: ms(1);
        color: $brand;
        height: $form-height*0.75;
        width: $form-height*0.75;
        @include media(mobile) {
          color: $white;
          background: $brand;
          @include box-sizing(border-box);
        }
      }
    }
  }
}