.header {
  position: relative;
  .nav {
    padding-right: $gutter*3;
  }
  .search {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $gutter*8;
    // @include no-placeholder;
    .form {
      .group {
        position: relative;
        margin-bottom: $baseline;
        input {
          background: $white;
          line-height: $nav-height*0.5;
          margin-top: $nav-height*0.25;
          margin-bottom: $nav-height*0.25;
          padding: 0 $gutter*0.5;
          border: none;
          margin-bottom: 0;
        }
      }
    }
  }
}