.header {
  position: relative;
  .nav {
    padding-right: $gutter*3;
  }
  .search {
    @media print {
      display: none;
    }
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $gutter*4;
    .form {
      .group {
        position: relative;
        margin-bottom: $baseline;
        label {
          @include visually-hidden;
        }
        input {
          background: $white;
          line-height: $nav-height*0.25;
          height: $nav-height*0.5;
          margin-top: $nav-height*0.25;
          margin-bottom: $nav-height*0.25;
          padding: $gutter*0.25 $gutter*0.5;
          border: none;
          margin-bottom: 0;
        }
      }
    }
  }
  @include media(mobile) {
    .nav {
      padding-right: 0;
      .logo {
        margin-bottom: $baseline*0.25;
      }
    }
    .search {
      @media print {
        display: none;
      }
      position: relative;
      display: inline-block;
      width: 100%;
      @include grid-column(1);
      padding: 0;
      .form .group {
        margin-bottom: $baseline*0.5;
        input {
          margin-top: 0;
        }
      }
    }
  }
}