.side-nav {
  @include grid-column( 1 /3 );
  background: $grey-light;
  padding-top: $baseline;
  padding-bottom: $baseline;
  padding-left: 0;
  padding-right: $gutter*0.5;
  h3 {
    margin-top: $baseline*0.25;
    margin-bottom: $baseline*0.5;
    padding-left: $gutter;
  }
  li {
    @include default-type;
    font-size: $small;
    padding-bottom: $baseline*0.5;
    padding-top: $baseline*0.5;
    padding-left: $gutter;
    list-style-type: none;
    border-bottom: $thin solid $grey;
    a {
      &:hover {

      }
    }
    &.active {
      background: $white;
      &:before {
        @include font-awesome;
        content: "\f053";
        margin-right: $gutter*0.5;
        margin-left: -$gutter*0.5;
      }
      a {
        color: $black;
      }
    }
  }
}