.side-nav {  
  @media print {
    display: none;
  }
  padding-top: $baseline;
  padding-bottom: $baseline;
  padding-left: 0;
  padding-right: $gutter*0.5;
  h3 {
    margin-top: $baseline*0.25;
    margin-bottom: $baseline*0.5;
  }
  ul {
    padding-left: 0;
    margin-left: 0;
  }
  li {
    @include default-type;
    font-size: $small;
    padding-bottom: $baseline*0.5;
    padding-top: $baseline*0.5;
    padding-left: 0;
    padding-right: 0;
    list-style-type: none;
    border-bottom: $border-thin solid $grey-light;
    a {
      &:hover {

      }
    }
    &.active {
      background: $white;
      padding-left: $gutter*0.75;
      @include media(desktop) {
        &:before {
          @include font-awesome;
          content: "\f053";
          margin-right: $gutter*0.25;
          margin-left: -$gutter*0.5;
        }
      }
      a {
        color: $black;
      }
    }
  }
}