// Email sign up

.signup {
  p {
    margin-bottom: $baseline;
  }
  #content {
    padding: $baseline*1.5 0;
  }
  .form input {
    font-size: $large - $thin;
    &.button {
      font-size: $large;
      font-weight: 600;
      border: none;
      &:hover {
        background-color: darken($button, 5%);
      }
    }
  }
  input.form-control {
    width: 100%;
  }
  input.button.subscribe {
    width: 100%;
  }
}
