.signup {
  @media print {
    display: none;
  }
  .form {
    .group {
      @extend %grid-row;
      margin-bottom: $baseline;
      label {
        $color: $body-text-colour;
        background: $white;
        z-index: 0;
        margin-right: 0;
      }
      .signup-input {
        position: relative;
        @include grid-column(8 / 12);
        @include media(mobile) {
          margin-bottom: $baseline;
        }
        label, input {
          @include box-sizing(border-box);
          @include form-padding;
          line-height: $baseline;
        }
        input {
          text-transform: none;
          text-indent: -5000px;
          background: transparent;
          position: absolute;
          left: $gutter;
          top: 0;
          height: $form-height;
          width: calc(100% - #{$gutter*2});
          &:focus {
            left: $gutter;
            text-indent: 0;
            background: #fff;
            outline-offset: 0;
            padding: $form-padding*2;
          }
          @include media(mobile) {
            left: $gutter*0.5;
            width: calc(100% - #{$gutter});
            &:focus {
              left: $gutter*0.5;
              width: calc(100% - #{$gutter});
            }
          }
        }
      }
      .signup-button {
        @include grid-column(4 / 12);
        input.button.subscribe {
          @include form-padding;
          color: $white;
          background-color: $brand;
          font-weight: 600;
          border: $border-normal $brand solid;
          line-height: $baseline;
          height: $button-height;
          // padding: $form-padding*2 + $border-thick;
          width: 100%;
          &:hover {
            background-color: $brand-hover-darken;
          }
        }
      }
    }
  }
}

.signup-background {
  background-color: $brand;
  .signup {
    @extend %site-width-container;
    padding-top: $baseline*2;
    padding-bottom: $baseline*2;
    h3 {
      font-weight: 400;
    }
    h3, p {
      color: $white;
      margin-top: 0;
    }
    .form {
      .group {
        .signup-input {
          label, input {
            @include form-padding;
          }
          input {
            border: none;
            text-transform: none;
            text-indent: -5000px;
            background: transparent;
            position: absolute;
            top: 0;
            height: $form-height;
            &:focus {
              text-indent: 0;
              background: #fff;
              outline-offset: 0;
              height: $form-height;
            }
            @include media(mobile) {
              left: $gutter*0.5;
              width: calc(100% - #{$gutter});
              &:focus {
                left: $gutter*0.5;
                width: calc(100% - #{$gutter});
              }
            }
            @include media(tablet) {
              left: $gutter*0.5;
              width: calc(100% - #{$gutter});
              &:focus {
                left: $gutter*0.5;
                width: calc(100% - #{$gutter});
              }
            }
            @include media(desktop) {
              left: $gutter;
              width: calc(100% - #{$gutter*2});
              &:focus {
                left: $gutter;
                width: calc(100% - #{$gutter*2});
              }
            }
          }
        }
        .signup-button {
          input.button.subscribe {
            color: $brand;
            background-color: $white;
            border: $border-normal $white solid;
            &:hover {
              color: $brand;
              background-color: $white-hover;
              border-color: $white-hover;
            }
          }
        }
      }
    }
    .social {
      text-align: left;
      margin-top: 0;
      margin-bottom: 0;
      li {
        padding: 0 $gutter*0.05 0 $gutter*0.05;
        a {
          color: $white;
          &:hover {
            color: $white-on-black-hover;
          }
        }
      }
    }
  }
}