.signup {
  @media print {
    display: none;
  }
  .form {
    .group {
      @extend %grid-row;
      input.form-control {
        width: 100%;
      }
      input.button.subscribe {
        border: none;
        width: 100%;
        &.button {
          font-weight: 600;
          color: $white;
          background-color: $brand;
          border: none;
          &:hover {
            background-color: $brand-hover-darken;
          }
        }
      }
      .signup-input {
        @include grid-column(2 / 3);
        input {
          padding: 6px $gutter*0.5;
          height: $baseline*1.5;
        }
      }
      .signup-button {
        @include grid-column(1 / 3);
      }
    }
  }
}