// so footer looks like it isn't floating
html {
  background-color: $brand4;
}

html, body {
	// font-size: 62.5%;
	font-size: $ms-base;
}

body {
  font-family: $stack;
  -webkit-font-smoothing: antialiased;
  background: $white;
  color: $text-colour;
}

.hidden,
.js-enabled .js-hidden {
  display: none;
  visibility: hidden;
}