// so footer looks like it isn't floating
html {
  background-color: $black;
}

// so everything isn't black
body {
  background-color: $white;
}

.hidden,
.js-enabled .js-hidden {
  display: none;
  visibility: hidden;
}