// so footer looks like it isn't floating
html {
  background-color: $black;
}

body {
  font-family: $stack;
  font-size: 62.5%;
  // font-size: 100%;
  line-height: $baseline;
  -webkit-font-smoothing: antialiased;
  background: $white;
  color: $text-colour;
}

.hidden,
.js-enabled .js-hidden {
  display: none;
  visibility: hidden;
}