pre {
  position: relative;
  font-family: monospace;
  font-size: $smaller;
  white-space: pre;
  margin: $baseline 0;
  code {
    @include wrap;
    display: block;
    margin: $baseline 0;
    padding: $baseline;
    border: $thin solid $grey;
    background-color: $grey-light;
  }
}

.colour-swatch {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: $thin solid transparent;
    border-radius: 20%;
}

.colour-swatch-border {
    border-color: $grey-dark;
}

.basic-table {
  table {
    margin-top: $baseline*1;
    table-layout: fixed;
  }
  td {
    border-bottom: 0;
  }
}

.header, .footer {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.header + pre {
  top: $baseline*6;
}

.footer + pre {
  top: $baseline*10;
}


.demo-box {
  background-color: $grey-light;
  padding: $baseline;
  margin-top: $baseline;
}
