pre {
  @include wrap;
  position: relative;
  font-family: monospace;
  font-size: $smaller;
  white-space: pre;
  margin: $baseline 0;
  code {
    display: block;
    margin: $baseline 0;
    padding: $baseline;
    border: $thin solid $gray;
    background-color: $gray-light;
  }
}

.logo {
  background-color: $brand;
}


// Colour swatches

.colour-swatch {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: $thin solid transparent;
    border-radius: 20%;
}

.header, .footer {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}

.header + pre {
  top: $baseline*6;
}

.footer + pre {
  top: $baseline*10;
}
