// all styles are based on main class "markdown" for viewing purposes in core documentation
.markdown {
  h1, h2, h3, h4 {
    span {
      @include default-type;
      display: block;
      margin: $baseline*0.25 0;
    }
  }
  .light {
    font-weight: 300;
  }
  .regular {
    font-weight: 400;
  }
  .semi-bold {
    font-weight: 600;
  }
  .bold {
    font-weight: 700;
  }
  pre {
    position: relative;
    font-family: monospace;
    font-size: ms(0);
    line-height: $baseline*0.75;
    white-space: pre;
    margin: $baseline 0;
    code {
      @include wrap;
      @include box-sizing(border-box);
      float: left;
      width: 100%;
      display: block;
      margin: $baseline 0;
      padding: $baseline;
      border: $border-thin solid $grey-light;
      background-color: $grey-lighter;
    }
  }
  .colour-swatch {
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border: $border-thin solid transparent;
      border-radius: 20%;
  }
  .colour-swatch-border {
      border-color: $very-black;
  }
  .table {
    thead tr {
      font-weight: $semi;
      border-bottom: $border-normal solid;
    }
  }
  .demo-box {
    background-color: $grey-lighter;
    border: $border-thin solid $grey-light;
    padding: $baseline;
    margin-top: $baseline;
  }
  .cookies {
    position: relative;
  }
  .grid-row {  
    @extend %grid-row;
  }
  .column-full {
    @include grid-column( 1 ); 
  }
  .column-quarter {
    @include grid-column( 1/4 ); 
  }
  .column-half { 
    @include grid-column( 1/2 ); 
  }
  .column-third {  
    @include grid-column( 1/3 ); 
  }
  .column-two-thirds { 
    @include grid-column( 2/3 ); 
  }
  .column-desktop-third {  
    @include grid-column( 1/3, $full-width: desktop ); 
  }
}
