@import "reset";
@import "variables";

@import "core/identity/import";
@import "core/elements/import";
@import "core/layout/import";

/* temp development styles for core */

code, body {
  float: left;
  width: 100%;
}

code {
  font-family: monospace;
}