$h1: 48px;
$h2: 36px;
$h3: 30px;

$body: 19px;

$small: 16px;
$smaller: 14px;
$baseline: 1.5em;
$gutter: 20px;

$brand: #d00f42;
$brand-b: #0072C6;
$linkbox: #0072C6; // Linking to external sites

$black: #000;
$white: #fff;
$gray: #6f777b;
$gray-dark: #222222;
$gray-light: #f8f8f8;

$thin: 1px;
$thick: 3px;

$amount: 15%; // Percentage on colour change

$subscribe: $brand;
$alert: $brand;

$logo-width: 300px;
$logo-height: 40px;

$button: $brand;

