$small: 16px;
$baseline: 1.5em;

$brand: #d00f42;
$brand-b: #0072C6;
$linkbox: #0072C6; // Linking to external sites

$black: #000;
$white: #fff;
$gray: #bfc1c3;
$gray-dark: #222222;

$amount: 15%; // Percentage on colour change

$subscribe: $brand;
$alert: $brand;

$logo-width: 300px;
$logo-height: 40px;

$button: $brand;
