// need to refer to govuk_modules/govuk_frontend_toolkit/stylesheets/_typography.scss
// once we have fonts decided

// font stack
$stack: 'Arial', sans-serif;
$stack-logo: 'Roboto', sans-serif;

// typography measurements
$h1: 48px;
$h2: 36px;
$h3: 24px;
$h4: 19px;
$body: 19px;
$baseline: 1.5em; //28.5

// rough sizes for p tag
$smaller: 14px;
$small: 16px;
$medium: 26px;
$large: 30px;
$larger: 34px;

$lighter: 300;
$normal: 400;
$bold: 700;
$icon: 3em;

// brand colors
$brand: #e40037; // red
$brand2: #d5ebf0; // ice blue

// text colour
$text-colour: #0b0c0c; // New
$white: #fff;

// link colour
$link: #004899;
$hover: #2A7AB0;
$visited: #682558;
$link-active: #2A7AB0;

// hover colors
$brand-hover-darken: #cb0031;
$button-hover-darken: #00692f;

// focus colour
$focus-colour: #fab500;

// greyscale
$grey-lighter: #f5f5f5;
$grey-light: #dee0e2;
$grey: #6f777b;
$grey-dark: #222222;
$black: #000;

// overlay
$overlay: rgba(0, 0, 0, 0.6);

// element color
$button: #00823b; // green taken from gov.uk
$button-search-box: $grey-dark;
$button-search-box-hover: #151515;
$white-on-black-hover: #d9d9d9;
$search: $black;
$linkbox: #0072C6; // Linking to external sites

$error: #b10e1e;
$warning: $focus-colour;
$info: $grey; 

$highlight-box: $link;
$highlight-box-light: #dfeeff;
$subscribe: $brand;
$alert: $brand;


// border width
$border-thin: 1px;
$border-normal: 2px;
$border-thick: 3px;
$border-thicker: 5px;
$border-very-thick: $border-thick*4;

// padding
$padding-thin: $baseline;
$padding-thinner: $baseline*0.25;

// border radius
$border-radius: 3px;

// logo dimensions
$logo-width: 300px;
$logo-height: 40px;

// header dimensions, based on logo
$nav-height: $logo-height*2;

// grid measreuments
$gutter: 30px;
$gutter: 120px;

$site-width: 960px;
$outer-grid-margin: $gutter*0.125;

$full-width: 100%;
$one-quarter: $full-width / 4;
$one-third: $full-width / 3;
$half: $full-width / 2;
$two-thirds: ($full-width) - ($one-third);
$three-quarters: ($full-width) - ($one-quarter);

// gutter dimensions
$gutter-one-quarter: $gutter / 4;
$gutter-one-third: $gutter / 3;
$gutter-half: $gutter / 2;
$gutter-two-thirds: $gutter - $gutter-one-third;
