.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  color: $white;
  padding-top: $baseline*2;
  padding-bottom: $baseline*2;
  #content {
    padding-bottom: 0;
  }
}