{% extends "essex_main_template_search_header.html" %}

{% block content %}

<main id="content">
  <div class="container">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/docs/core/contents/">Contents</a></li>
        <li><a href="/iframe-app/freedom-of-information">Freedom of Information</a></li>
        <li><a href="#">Noise maps</a></li>
      </ol>
    </div>
    <div class="main" id="freedom-of-information">
      <section class="content">
      	<h1>ECC6259613 02 19 - Noise maps</h1>
      	<ul class="data">
      		<li><span>Reference</span>ECC6259613 02 19</li>
      		<li><span>Received date</span>12/02/2019</li>
      		<li><span>Business area</span>Environment, Sustainability & Highways</li>
      		<li><span>Cost</span>£12.10</li>
      		<li><span>Outcome</span>Information not held</li>
      		<li><span>Source</span>Private Sector</li>
      	</ul>
      	<h2>Request summary</h2>
      	<p>Do you take into account the noise maps published by defra when allocating land in your local plan for residential development (noise maps developed to meet the requirements of environmental noise directive 2002/49/EC and the environmental noise regulations 2006)? Yes/no/don’t know Do you take into account air quality data published by defra when allocating land in your local plan for residential development? Yes/no/don’t know </p>
      	<h3>Response</h3>
      	<p>Most computers will open PDF documents automatically, but you may need to download Adobe Reader first.</p>

				<div class="file-download"><a href="" class="file-link">ECC6259613 02 19 - Response</a>
					<p><span>(DOC 97 Kb)</span>This is used for any descriptions required for this downloadable file.</p>
				</div>

				<div class="file-download"><a href="" class="file-link">Attachment 1</a>
					<p><span>(PDF 25 Kb)</span>This is used for any descriptions required for this downloadable file.</p>
				</div>
      </section>
    </div>
  </div>
</main>

{% endblock %}
