{% extends "essex_main_template_search_header.html" %}

{% block content %}

<main id="content">
  <div class="container">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/docs/core/contents">Contents</a></li>
        <li><a href="/iframe-app/freedom-of-information">Freedom of Information</a></li>
      </ol>
    </div>
    <div class="main" id="freedom-of-information">
      <section class="content">
      	<h1>Freedom of Information search</h1>
      	<p>You can search for Freedom of Information requests using the form below.</p>
      	<div class="search" role="search">
				  <div class="search-input">
				    <form action="/search" method="get" role="search" class="form">
				      <div class="group search">
				        <label for="search">Search</label>
				        <input type="text" id="search" name="search">
				        <input type="submit" value="search" title="search" class="visually-hidden">
				        <i class="fas fa-search search-icon-position"></i>
				      </div>
				      <div class="group">
		      	    <fieldset>
						      <legend>
						        <span class="form-hint">
						          Refine your search
						        </span>
						      </legend>
						      <div class="group date-from">
						        <label for="from-date">Date from</label>
						        <input class="form-control" id="from-date" name="from-date" type="number">
						      </div>
						      <div class="group date-to">
						        <label for="to-date">Date to</label>
						        <input class="form-control" id="to-date" name="to-date" type="number">
						      </div>
						    </fieldset>
				      </div>
				    </form>
				  </div>
	      	<p>If you would like to ask a further question in relation to our responses, please contact us at <a href="#">YourRight.ToKnow@essex.gov.uk.</a> Please be advised that these enquiries will also be treated as Freedom of Information or Environmental Information requests.</p>
					<ul class="search-results no-bullet">
						<li>
							<h2 class="h4"><a href="./foi-article">ECC6259613 02 19 - Noise maps<a></h2>
							<ul class="data">
								<li><span>Received Date</span> 26/02/2019</li>
								<li><span>Outcome</span> Information not held</li>
								<li><span>Source</span> Private Sector</li>
							</ul>
						</li>
						<li>
							<h2 class="h4"><a href="./foi-article">ECC6367326 02 19 - CCTV Cameras</a></h2>
							<ul class="data">
								<li><span>Received Date</span> 26/02/2019</li>
								<li><span>Outcome</span> Information not held</li>
								<li><span>Source</span> Private Sector</li>
							</ul>
						</li>
						<li>
							<h2 class="h4"><a href="./foi-article">ECC6368026 02 19 - Grove road accidents</a></h2>
							<ul class="data">
								<li><span>Received Date</span> 22/02/2019</li>
								<li><span>Outcome</span> Information not held</li>
								<li><span>Source</span> Private Sector</li>
							</ul>
						</li>
						<li>
							<h2 class="h4"><a href="./foi-article">ECC6367326 02 19 - CCTV Cameras</a></h2>
							<ul class="data">
								<li><span>Received Date</span> 26/02/2019</li>
								<li><span>Outcome</span> Information not held</li>
								<li><span>Source</span> Private Sector</li>
							</ul>
						</li>
						<li>
							<h2 class="h4"><a href="./foi-article">ECC6368026 02 19 - Grove road accidents</a></h2>
							<ul class="data">
								<li><span>Received Date</span> 22/02/2019</li>
								<li><span>Outcome</span> Information not held</li>
								<li><span>Source</span> Private Sector</li>
							</ul>
						</li>
					</ul>
				</div>
      </section>
      <section class="function">
      	<nav class="pagination">
				  <ul>
				    <li class="next">
				      <a href="#">
				        <span class="pagination-item">
				          <i class="fas fa-arrow-right"></i>Next
				        </span>
				        <span>1 of 124</span>
				      </a>
				    </li>
				  </ul>
				</nav>
      </section>
    </div>
  </div>
</main>

{% endblock %}
