#global-header #logo,
#footer #logo {
  float: left;
  overflow: visible;
  color: white;
  font-weight: 400;
  font-size: $small;
  line-height: $baseline;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  border-bottom: none;
  background: url(/public/images/logo-b.svg) no-repeat;
  background-size: $logo-width $logo-height;
  background-position: 0 0;
  img {
    margin-bottom: $baseline*0.25;
  }
  &:hover, &:focus {
    text-decoration: none;
    border-bottom: none;
  }
}

#footer #logo {
  background-size: $logo-width*0.75 $logo-height*0.75;
}