.grid-row.border {
  margin-top: $baseline;
  border-bottom-width: 2px;
  .column-one-third {
    border: 1px solid $grey-1;
    margin: 0 0.5%;
    width: 32.33333%;
    min-height: $baseline*8;
  }
  .column-half {
    border: 1px solid $grey-1;
    margin: 0 0.5%;
    width: 49%;
    min-height: $baseline*6;
  }
  .column-one-quarter {
    border: 1px solid $grey-1;
    margin: 0 0.5%;
    width: 24%;
    min-height: $baseline*10;
  }
  @include media(mobile) {
    .column-one-third,
    .column-half,
    .column-one-quarter {
      border: none;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      min-height: auto;
      margin-bottom: $baseline;
    }
  }
}

// .grid-row.border-b {
//   border: 1px solid $grey-1;
//   border-bottom-width: 2px;
// }