.grid-row.border {
  border: 1px solid $grey-1;
  border-bottom-width: 2px;
  .column-one-third:nth-child(2) {
    border-left: 1px solid $grey-1;
    border-right: 1px solid $grey-1;
  }
  .column-half:nth-child(2) {
    border-left: 1px solid $grey-1;
  }
}