#footer .footer-wrapper {
  padding-top: $baseline*0.5;
  padding-bottom: $baseline*0.5;
  background-color: $brand;
}

#footer {
  border: none;
  background-color: $brand;
}

#footer .footer-mid {
  color: $white;
  background: $black;
  padding-top: $baseline;
  padding-bottom: $baseline;
  a {
    color: $white;
  }
  #content {
    padding-bottom: 0;
  }
}