.impact {
  position: relative;
  .hero {
    background: url(/public/images/footer-hero.jpg) no-repeat;
    background-size: cover;
    background-position-x: 0;
    background-position-y: -$baseline*6;
    height: $baseline*26;
    @media only screen and (max-width:640px) {
      background-position-y: 0;
    }
  }
  h2, h2 a, h2 :hover {
    color: $white;
    margin: 0;
  }
  + .signup {
    display: none;
  }
}