.govuk-box-highlight.linkbox {
  background: $linkbox;
  padding: 1.5em 0;
  cursor: pointer;
  a, a:link {
    color: $white;
    &:after {
      content: "";
    }
  }
  &:hover,
  &:focus {
    background-color: darken($linkbox, 5%);
  }
}