section.section.search-bar {
  position: relative;
  input {
    border: none;
  }
  label.search-label {
    color: #6f777b;
    position: absolute;
    left: $gutter*0.5;
    top: $baseline*0.25;
  }
  &[type="search"]:focus {
    z-index: 2;
    background: red;
  }
  .form-control {
    padding: $baseline*0.25 $baseline*0.5;
    line-height: $baseline;
  }
}
