.signup {
  color: $gray-dark;
  p {
    margin-bottom: $baseline;
  }

  #content {
    padding: $small*1 0;
  }
  input.form-control {
    width: 100%;
  }
  input.button.subscribe {
    width: 100%;
  }
}
