.search, .subscribe {
  font-size: 19px;
  line-height: $baseline;
  background-color: $black;
  padding: $baseline*0.25 $baseline*0.5;
  &:hover {
    background-color: lighten($black, $amount);
  }
}

.subscribe {
  background-color: $subscribe;
  &:hover {
    background-color: lighten($subscribe, $amount);
  }
}
