ul.list.contents {
  padding-bottom: $baseline;
  border-bottom: 1px solid $black;
  li {
    font-size: 16px;
    margin-left: 25px;
    &:before {
      content: "–";
      margin-left: -25px;
      padding-right: 5px;
    }
  }
}