body {
  font-family: "nta", Arial, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

h4 {
  font-size: 19px;
  font-weight: 700;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

p {
  font-size: 19px;
  font-weight: 400;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

//Lists

.list {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

.list-bullet {
    list-style-type: disc;
    padding-left: 20px;
}

.list-number {
    list-style-type: decimal;
    padding-left: 20px;
}

// Meta

.meta {
    margin-top: 3em;
    margin-bottom: 1.5em;
    color: #6f777b;
    font-size: 16px;
    line-height: 1.25em;
}
