body {
  font-family: $stack;
}

main {
  font-size: $body;
  line-height: $baseline;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

h4 {
  font-size: 19px;
  font-weight: 700;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

p {
  font-size: 19px;
  font-weight: 400;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

//Lists


ul,
ol {
  list-style-type: none;
}

.list {
    padding: 0;
    margin-top: $baseline*0.5;
    margin-bottom: $baseline;
}

.list li {
  margin-bottom: $baseline*0.25;
}

.list-bullet {
    list-style-type: disc;
    padding-left: $gutter*0.5;
}

.list-number {
    list-style-type: decimal;
    padding-left: $gutter*0.5;
    @include ie-lte(7) {
      padding-left: 28px;
    }
}

// Meta

.meta {
    margin-top: $baseline*2;
    margin-bottom: $baseline;
    color: $gray;
    font-size: $body;
    line-height: $baseline;
}
