body {
  font-family: "nta", Arial, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

h4 {
  font-size: 19px;
  font-weight: 700;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

p {
  font-size: 19px;
  font-weight: 400;
  text-transform: none;
  margin-top: $baseline;
  margin-bottom: $baseline*0.5;
}

//Lists

.list {
    padding: 0;
    margin-top: $baseline*0.5;
    margin-bottom: $baseline;
}

.list-bullet {
    list-style-type: disc;
    padding-left: $gutter;
}

.list-number {
    list-style-type: decimal;
    padding-left: $gutter;
}

// Meta

.meta {
    margin-top: $baseline*2;
    margin-bottom: $baseline;
    color: $gray;
    font-size: $body;
    line-height: $baseline;
}
