{% extends "layout.html" %}
{% block content %}

<h1>Contents</h1>

  <h2>Elements</h2>
    <ul class="list list-bullet">
      <li><a href="elements/button">Button</a></li>
      <li><a href="elements/content-heading">Content heading</a></li>
      <li><a href="elements/form">Form</a></li>
      <li><a href="elements/icon">Icon</a></li>
      <li><a href="elements/list">List</a></li>
      <li><a href="elements/meta">Meta</a></li>
      <li><a href="elements/multiple-choice">Multiple choice</a></li>
      <li><a href="elements/page-heading">Page heading</a></li>
      <li><a href="elements/paragraph">Paragraph</a></li>
      <li><a href="elements/section-heading">Section heading</a></li>
    </ul>

  <h2>Components</h2>
    <ul class="list list-bullet">
      <li><a href="components/alert">Alert</a></li>
      <li><a href="components/highlight-box">Highlight box</a></li>
      <li><a href="components/pagination">Pagination</a></li>
      <li><a href="components/panel">Panel</a></li>
    </ul>

{% endblock %}
