.search.freedom-of-information {
	.date-from, .date-to {
		// float: left;
		width: 40%;
		#from-date, #to-date {
			width: 100%;
		}
	}
  ul.search-results {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    li {
      padding-left: 0;
    }
  }
}