.search-background {
  @media print {
    display: none;
  }
  overflow: hidden;
  position: relative;
  .search {
    @extend %site-width-container;
    @include media(mobile) {
      width: 100%;
      margin: 0;
    }
    .search-buttons {
      display: none;
    }
    .search-box {
      @extend %grid-row;
      @include grid-column(1 / 2);
      @include box-sizing(border-box);
      @include border-radius($border-radius);
      margin: 0;
      margin-top: $baseline;
      margin-bottom: $baseline*2;
      background-color: $overlay;
      position: relative;
      padding: $outer-grid-padding * 2;
      @include media(mobile) {
        padding-right: $outer-grid-margin * 5;
        padding-left: $outer-grid-margin * 5;
        padding-top: $baseline;
        padding-bottom: $baseline;
        margin: 0;
      }
      h1 {
        display: block;
      }
    }
    .form {
      .group {
        position: relative;
        margin-bottom: 0;
        input {
          @include default-type;
          @include border-radius($border-radius);
          @include box-sizing(border-box);
          border: $border-thick solid $white;
          padding: $outer-grid-padding * 2;
          margin-bottom: 0;
          height: $baseline*2.5;
          width: 100%;
          @include media(mobile) {
            font-size: $smaller;
            padding: $baseline*0.25 $gutter*1.5 $baseline*0.25 $gutter*0.5;
          }
        }
        .search-icon-position .fa-search {
          font-size: $icon*0.75;
          color: $search;
            &:hover {
            color: $search-hover;
          }
        }
      }
    }
  }
  .hero {
    position: absolute;
    right: 0;
    left: 0;
  }
}