.search-background {
  @media print {
    display: none;
  }
  overflow: hidden;
  position: relative;
  margin-bottom: $baseline;
  .search {
    @extend %site-width-container;
    @include media(desktop) {
      padding: $baseline*2.5 0;
    }
    @include media(mobile) {
      margin: 0 !important;
    }
    .search-box {
      margin: 0 auto;
      @extend %grid-row;
      @include box-sizing(border-box);
      @include border-radius($border-radius);
      background-color: rgba(0, 0, 0, 0.1);
      position: relative;
      padding: $baseline*0.75 $gutter*0.5;
      @include media(mobile) {
        padding-left: $gutter;
        padding-right: $gutter;
      }
      .search-input {
      }
      .search-buttons {
        flex-wrap: wrap;
        display: flex;
        padding: 0;
        .search-button {
          @include media(desktop) {
            width: calc(25% - #{$border-normal});
            margin-right: $border-normal;
            margin-bottom: 0;
          }
          margin-bottom: $border-thicker;
          width: 100%;
          display: flex;
          padding: 0;
          margin-right: 0;
          &:last-child {
            margin-right: 0;
          }
          .button {
            @include box-shadow(0 2px 0 $button-search-box);
            font-size: $body;
            font-weight: $normal;
            color: $white;
            text-align: center;
            background-color: $button-search-box;
            padding-bottom: $baseline*0.5;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              background-color: $button-search-box-hover;
            }
            &:focus {
              background-color: $button-search-box-hover;
              outline: $border-thick solid $focus-colour;
            }
          }
        }
      }
    }
    .form {
      .group {
        position: relative;
        margin-bottom: $baseline;
        input {
          @include default-type;
          @include border-radius($border-radius);
          border: $border-thick solid $white;
          padding: $baseline*0.25 $gutter;
          height: $baseline*2.5;
          width: 100%;
          @include box-sizing(border-box);
          @include media(mobile) {
            font-size: $smaller;
            padding: $baseline*0.25 $gutter*1.5 $baseline*0.25 $gutter*0.5;
          }
        }
        .search-icon-position .fa-search {
          font-size: $icon*0.75;
        }
      }
    }
  }
  .hero {
    position: absolute;
    right: 0;
    left: 0;
  }
}
