.search-background {
  @media print {
    display: none;
  }
  overflow: hidden;
  position: relative;
  .overlay {
    background: $overlay-brand;
  }
  .search {
    @extend %site-width-container;
    @include media(mobile) {
      width: 100%;
      margin: 0;
    }
    .search-buttons {
      display: none;
    }
    .search-box {
      @extend %grid-row;
      @include grid-column(2 / 3);
      @include border-radius($border-radius);
      margin: $baseline*2 0;
      background-color: $overlay;
      position: relative;
      padding: $gutter*0.25;
      @include media(mobile) {
        margin: 0;
        padding: $outer-grid-margin;
      }
      h1 {
        display: block;
      }
    }
    .form {
      .group {
        margin-bottom: 0;
        input, label {
          border: none;
          line-height: $baseline;
          height: $form-padding*8;
          padding: $form-padding*2 + $border-thick;
        }
        input {
          margin-bottom: 0;
          width: 100%;
        }
        .fa-search.search-icon-position  {
          font-size: $icon*0.5;
          line-height: $icon*0.5;
          padding: 10px;
          background: $white;
          color: $search;
            &:hover {
            color: $search-hover;
          }
        }
      }
    }
  }
  + main#content .h3 {
    font-weight: $light;
  }
}