{% extends "layout.html" %}
{% block content %}

<code>&lt;div class="breadcrumbs"&gt;</code>
<code>&lt;ol&gt;</code>
<code>&lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;/li&gt;</code>
<code>&lt;li&gt;&lt;a href="adult-social-care"&gt;Adult Social Care&lt;/a&gt;&lt;/li&gt;</code>
<code>&lt;/ol&gt;</code>
<code>&lt;/div&gt;</code>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="adult-social-care">Adult Social Care</a></li>
    </ol>
  </div>

{% endblock %}
