{% extends "layout.html" %}
{% block content %}

<code>&lt;section class="section search-bar"&gt;</code>
<code>&lt;form action="/search" method="get" role="search" class="form"&gt;</code>
<code>&lt;div class="form-group"&gt;</code>
<code>&lt;input type="text" class="form-control" placeholder="Search Essex County Council" id="full-name" name="name" required=""&gt;</code>
<code>&lt;button type="submit" value="search" class="search-icon-position"&gt;</code>
<code>&lt;i class="fas fa-search " type="submit" value="search"&gt;</code><code>&lt;/1&gt;</code>
<code>&lt;/button&gt;</code>
<code>&lt;/div&gt;</code>
<code>&lt;/form&gt;</code>


<code>&lt;div class="grid-row"&gt;</code>
<code>&lt;div class="column-quarter"&gt;</code>
<code>&lt;a class="button search-section" href="#" role="button"&gt;Bus passes&lt;/a&gt;</code>
<code>&lt;/div&gt;</code>
<code>&lt;div class="column-quarter"&gt;</code>
<code>&lt;a class="button search-section" href="#" role="button"&gt;Renew library items passes&lt;/a&gt;</code>
<code>&lt;/div&gt;</code>
<code>&lt;div class="column-quarter"&gt;</code>
<code>&lt;a class="button search-section" href="#" role="button"&gt;School admissions passes&lt;/a&gt;</code>
<code>&lt;/div&gt;</code>
<code>&lt;div class="column-quarter"&gt;</code>
<code>&lt;a class="button search-section" href="#" role="button"&gt;Job vacancies passes&lt;/a&gt;</code>
<code>&lt;/div&gt;</code>
<code>&lt;/div&gt;</code>
<code>&lt;/section&gt;</code>

<section class="section search-bar">
  <form action="/search" method="get" role="search" class="form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Essex County Council" id="full-name" name="name" required="">
      <button type="submit" value="search" class="search-icon-position">
        <i class="fas fa-search " type="submit" value="search"></i>
      </button>
      <!-- <input type="submit" class="button search" value="Search"> -->
      <!-- <label class="search-label">Search Essex County Council</label> -->
    </div>
  </form>

  <div class="grid-row">
    <div class="column-quarter">
      <a class="button search-section" href="#" role="button">Bus passes</a>
    </div>
    <div class="column-quarter">
      <a class="button search-section" href="#" role="button">Renew library items</a>
    </div>
    <div class="column-quarter">
      <a class="button search-section" href="#" role="button">School admissions</a>
    </div>
    <div class="column-quarter">
      <a class="button search-section" href="#" role="button">Job vacancies</a>
    </div>
</div></section>

{% endblock %}
