{% extends "layout.html" %}
{% block content %}

<code>&lt;div class="signup"&gt;</code>
<code>&lt;div id="content"&gt;</code>
<code>&lt;p class="heading-medium"&gt;Get the latest news and information about your council services&lt;/p&gt;</code>
<code>&lt;form action="/search" method="get" role="search" class="form"&gt;</code>
<code>&lt;div class="form-group"&gt;</code>
<code>&lt;div class="grid-row"&gt;</code>
<code>&lt;div class="column-two-thirds"&gt;</code>
<code>&lt;input type="text" class="form-control" placeholder="Enter your email address" id="full-name" name="name" required=""&gt;</code>
<code>&lt;/div&gt;</code>
<code>&lt;div class="column-third"&gt;</code>
<code>&lt;input type="submit" class="button subscribe" value="Subscribe"&gt;</code>
<code>&lt;/div&gt;</code>
<code>&lt;/div&gt;</code>
<code>&lt;/div&gt;</code>
<code>&lt;/form&gt;</code>
<code>&lt;/div&gt;</code>
<code>&lt;/div&gt;</code>

<div class="signup">
    <div id="content">
      <p class="heading-medium">
        Get the latest news and information about your council services
      </p>
      <form action="/search" method="get" role="search" class="form">
        <div class="form-group">
          <div class="grid-row">
            <div class="column-two-thirds">
              <input type="text" class="form-control" placeholder="Enter your email address" id="full-name" name="name" required="">
            </div>
            <div class="column-third">
              <input type="submit" class="button subscribe" value="Subscribe">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
