{% extends "essex_main_template_search_header.html" %}

{% block content %}

<main id="content">
  <div class="container">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/docs/core/contents">Contents</a></li>
        <li>Emergency School Closures</li>
      </ol>
    </div>
    <div class="main" id="schools-closure">
      <section class="content">
      	<h1>Emergency school closures</h1>
      	<p>Schools can post emergency school closures below. This is updated at 6pm every day and closures for the next day will be displayed.</p>
      	<p>If your child’s school isn’t listed below, we advise you to contact the school directly.</p>
				<ul class="search-results">
					<li>
						<h2 class="h4">Essex Middle School</h2>
						<ul class="data">
							<li><span>Telephone</span>0333 013 9880</li>
							<li><span>Email</span>school@essex.gov.uk</li>
						</ul>
					</li>
					<li>
						<h2 class="h4">Essex Middle School</h2>
						<ul class="data">
							<li><span>Telephone</span>0333 013 9880</li>
							<li><span>Email</span>school@essex.gov.uk</li>
						</ul>
					</li>
					<li>
						<h2 class="h4">Essex Middle School</h2>
						<ul class="data">
							<li><span>Telephone</span>0333 013 9880</li>
							<li><span>Email</span>school@essex.gov.uk</li>
						</ul>
					</li>
					<li>
						<h2 class="h4">Essex Middle School</h2>
						<ul class="data">
							<li><span>Telephone</span>0333 013 9880</li>
							<li><span>Email</span>school@essex.gov.uk</li>
						</ul>
					</li>
				</ul>
      </section>
      <section class="function">
      	<nav class="pagination">
				  <ul>
				    <li class="next">
				      <a href="#">
				        <span class="pagination-item">
				          <i class="fas fa-arrow-right"></i>Next
				        </span>
				        <span>1 of 124</span>
				      </a>
				    </li>
				  </ul>
				</nav>
      </section>
    </div>
  </div>
</main>

{% endblock %}
