{% extends "essex_main_template_search_header.html" %}

{% block content %}

<main id="content">
  <div class="container">
    <div class="main only">
      <section class="content">
        <h2 class="content-heading">Essex County Council News</h2>
        <div class="previews news landing">
          <div class="preview">
            <img src="/public/images/news.jpg" alt="Image description">
            <h3 class="sub-section-heading"><a href="/examples/news-landing">Preview heading with image above</a></h3>
            <p>Preview copy explaining what content it contains.</p>
            <p class="meta">3 October 2018</p>
          </div>
          <div class="preview">
            <img src="/public/images/news.jpg" alt="Image description">
            <h3 class="sub-section-heading"><a href="/examples/news-landing">Preview heading with image above</a></h3>
            <p>Preview copy explaining what content it contains.</p>
            <p class="meta">3 October 2018</p>
          </div>
          <div class="preview">
            <img src="/public/images/news.jpg" alt="Image description">
            <h3 class="sub-section-heading"><a href="/examples/news-landing">Preview heading with image above</a></h3>
            <p>Preview copy explaining what content it contains.</p>
            <p class="meta">3 October 2018</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>

{% endblock %}