{% extends "essex_topic_template.html" %}

{% block content %}

<main id="content">
  <div class="container">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="examples/topic">Social care and health</a></li>
        <li><a href="#">Report abuse or neglect: Report a concern about a child</a></li>
      </ol>
    </div>
    <div class="main">
      <section class="intro">
        <h1>Report abuse or neglect, is a longer line of text so we can see what it's like.</h1>
        <nav class="contents">
          <div class="heading">
            <h2>Contents</h2>
          </div>
          <ol>
            <li>Report a concern about a child</li>
            <li><a href="#">Report a concern about an adult</a></li>
            <li><a href="#">Domestic abuse</a></li>
            <li><a href="#">What is abuse? What is neglect?</a></li>
            <li><a href="#">Deprivation of Liberty Safeguards (DoLS)</a></li>
          </ol>
        </nav>
      </section>

      <section class="content">
        <h2>Report a concern about a child, this is what this looks like on another line.</h2>
        <p>If you believe someone is in immediate danger, dial 999.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="inset">
          <h3>Contact Essex Safeguarding Children Board</h3>
          <p><a href="http://www.escb.co.uk/" title="Essex Safeguarding Children Board">www.escb.co.uk</a><br>
            Telephone: 0345 603 7627<br>
          Monday to Friday, 9:30am to 5:30pm</p>
        </div>
        <p>You may want to report a concern if you:</p>
        <ul>
          <li>are worried about the safety or wellbeing of a child</li>
          <li>suspect neglect or abuse</li>
          <li>would like to report an incident</li>
        </ul>
        <p>Visit the NSPCC to find out more about the signs of abuse and neglect.</p>
        <p>Even if you are not sure whether we need to be aware, or whether it's serious or not, call us.</p>
        <p>We are best placed to decide whether it warrants further investigation.</p>
        <h3>For professionals, and people that appear on a second line of text like this one. How does this look?</h3>
        <p>Access<a href="#"> Essex Safeguarding Children Board guidance</a></p>
        <h4>A very long line of text that probably will never been seen on desktop machines but possibly on mobile devices.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>

      <section class="function">
        <nav class="pagination">
          <ul>
            <li class="prev">
              <a href="#">
                <span class="pagination-item">
                  <i class="fas fa-arrow-left"></i>Prev
                </span>
                <span>Personal budget</span>
              </a>
            </li>
          </ul>
          <ul>
            <li class="next">
              <a href="#">
                <span class="pagination-item">
                  <i class="fas fa-arrow-right"></i>Next
                </span>
                <span>Personal budget</span>
              </a>
            </li>
          </ul>
        </nav>

        {% block printlink %}
          {% include "includes/print-link.html" %}
        {% endblock %}
      </section>
    </div>
  </div>
</main>

{% endblock %}
