.toggle {
  border-bottom: 1px solid #bfc1c3;
  padding-bottom: $baseline;
  .content {
    margin-top: $baseline;
  }
}

.toggle-b {
  .show, .hide {
    display: block;
    margin-top: $baseline;
  }
}

input.checkbox, .hide {
  display: none;
}

input[aria-expanded="false"] + label.show + label.hide {
  display: none;
}

input[aria-expanded="true"] + label.show {
  display: none;
}

input[aria-expanded="true"] + label.show + label.hide {
  display: block;
}

label.show, label.hide {
  font-size: 19px;
  cursor: pointer;
  color: #005ea5;
  &:hover {
    text-decoration: underline;
  }
}
