{% extends "essex_main_template.html" %}

{% block content %}

<main id="content">

  <div class="container">
    <div class="main only">
      <section class="loose">
          <h1>Page not found</h1>
          <p>Sorry, we can't find the page you're looking for. It could have been removed or the web address might be wrong.</p>
          <p>You can <a href="search">search essex.gov.uk</a> or browse the <a href="/">homepage</a> for the information you're looking for.</p>
      </section>
    </div>
  </div>

</main>

{% endblock %}
