{% extends "layout.html" %}
{% block page_title %}
  Adult Social Care and Health
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Adult Social Care and Health</h1>
        <div class="call-to-action">
          <p class="heading-small">
            Not sure where to start? See <a href="social-care-step-by-step">Adult Social Care: step by step</a>
          </p>
        </div>
    </div>
    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Apply for a Blue Badge</a></li>
            <li><a href="#">Request a Carer's Assessment</a></li>
            <li><a href="#">Report a safeguarding concern</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-third">
      <h3 class="heading-small"><a href="#">Report abuse or neglect</a></h3>
        <p>How to spot signs of abuse or neglect, what you should do, and how to report it
        </p>
    </div>

    <div class="column-third">
      <h3 class="heading-small"><a href="looking-after-someone">Looking after someone</a></h3>
      <p>Financial and practical support for carers, people who look after a friend or family member</p>
    </div>

    <div class="column-third">
      <h3 class="heading-small"><a href="paying-for-care">Paying for care</a></h3>
      <p>How to apply for financial assistance, what you are entitled to and how to manage your payments</p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <h3 class="heading-small"><a href="#">Health conditions</a></h3>
      <p>Help for people living with dementia, mental health, disabilities and sensory impairments</p>
    </div>

    <div class="column-third">
      <h3 class="heading-small"><a href="#">Volunteering, work and learning</a></h3>
      <p>Practical advice for entry into, and return to, work, education and volunteering (for services for older and disabled people)</p>
    </div>

    <div class="column-third">
      <h3 class="heading-small"><a href="#">Getting out and about</a></h3>
      <p>Transport and mobility services for older and disabled people</p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <h3 class="heading-small"><a href="#">Living independently at home</a></h3>
      <p>Support and practical adaptions to help you adapt your home to your changing circumstances</p>
    </div>

    <div class="column-third">
      <h3 class="heading-small"><a href="#">Supported housing and care home options</a></h3>
      <p>Permanent care homes for older people, homes for younger adults with disabilities and other respite and temporary  options</p>
    </div>

    <div class="column-third">
      <h3 class="heading-small"><a href="#">Directory of services</a></h3>
      <p>A list of independent service providers</p>
    </div>
  </div>
</main>



{% endblock %}
