{% extends "layout.html" %}
{% block page_title %}
  Adult Social Care and Health
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
  </ol>
</div>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">Adult Social Care and Health</h1>
    </div>
  </div>


<!-- Primary links -->

    <ul class="primary-link-box">
      <li class="primary-link-list">
        <div class="primary-link-content">
          <h3 class="heading-small"><a href="#">Report abuse or neglect</a></h3>
            <p>How to spot signs of abuse or neglect, what you should do, and how to report it
            </p>
        </div>
      </li>
      <li class="primary-link-list">
        <div class="primary-link-content">
          <h3 class="heading-small"><a href="social-care-step-by-step">Adult Social Care: step by step</a></h3>
          <p>
            Not sure where to start? Check what help is available and who to speak to at each stage of the care and support process
          </p>
        </div>
      </li>
      <li class="primary-link-list">
        <div class="primary-link-content">
          <h3 class="heading-small"><a href="looking-after-someone">Looking after someone</a></h3>
          <p>Financial and practical support for carers, people who look after a friend or family member</p>
        </div>
      </li>
    </ul>

<!-- Secondary links -->

<div class="grid-row">
  <div class="column-full">
    <ul>
      <li class="secondary-link">
        <h3 class="heading-small"><a href="paying-for-care">Paying for care</a></h3>
        <p>How to apply for financial assistance, what you are entitled to and how to manage your payments</p>
      </li>
      <li class="secondary-link">
        <h3 class="heading-small"><a href="financial-assessment">Supported housing and care home options</a></h3>
        <p>Care homes for older people, adults with disabilities and respite accommodation</p>
      </li>
      <li class="secondary-link">
        <h3 class="heading-small"><a href="#">Blue Badge</a></h3>
        <p>Check if you’re eligible and apply for a Blue Badge</p>
      </li>
    </ul>
  </div>
  <div class="column-full">
    <div class="toggle-b">
      <div class="js-hidden content" id="tab-one">
        <ul>
          <li class="secondary-link">
            <h3 class="heading-small"><a href="#">Health conditions</a></h3>
            <p>Help for people living with dementia, mental health, disabilities and sensory impairments</p>
          </li>
          <li class="secondary-link">
            <h3 class="heading-small"><a href="#">Living independently at home</a></h3>
            <p>Support and practical adaptions to help you adapt your home to your changing circumstances</p>
          </li>
          <li class="secondary-link">
            <h3 class="heading-small"><a href="#">Supported housing and care home options</a></h3>
            <p>Care homes for older people, adults with disabilities and respite accommodation</p>
          </li>
          <li class="secondary-link">
            <h3 class="heading-small"><a href="#">Getting out and about</a></h3>
            <p>Transport and mobility services for older and disabled people</p>
          </li>
          <li class="secondary-link">
            <h3 class="heading-small"><a href="#">Volunteering, work and learning</a></h3>
            <p>Practical advice for entry into, and return to, work, education and volunteering (for services for older and disabled people)</p>
          </li>
        </ul>
      </div>
      <div data-target="tab-one">
        <input class="checkbox" id="toggle-one" type="checkbox">
        <label class="show" for="toggle-one">See all Adult Social Care services</label>
        <label class="hide" for="toggle-one">Hide</label>
      </div>
    </div>
  </div>
</div>


<!-- Guidance and legislation -->

  <div class="section-break"></div>

  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">Guidance and legislation</h2>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <ul>
        <li class="secondary-link">
          <h3 class="heading-small"><a href="#">Care Act (GOV.UK)</a></h3>
          <p>See your rights and responsibilities under The Care Act legislation</p>
        </li>
        <li>
          <h3 class="heading-small"><a href="#">Essex County Council care policy</a></h3>
          <p>Financial and practical support for carers, people who look after a friend or family member</p>
        </li>
      </ul>
    </div>
    <div class="column-full">
      <div class="toggle-b">
        <div class="js-hidden content" id="tab-two">
          …more guidance and legislation will appear here
        </div>
        <div data-target="tab-two">
          <input class="checkbox" id="toggle-two" type="checkbox">
          <label class="show" for="toggle-two">See all guidance and legislation</label>
          <label class="hide" for="toggle-two">Hide</label>
        </div>
      </div>
    </div>
  </div>

<!-- News -->




</main>



{% endblock %}
