{% extends "layout.html" %}
{% block page_title %}
  Care and support at home
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="adult-social-care">Adult Social Care</a>
    </li>
    <li>
      <a href="paying-for-care">Paying for care</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Care and support at home</h1>


<!-- In-page navigation -->

        <div class="navigation-container small">
          <p>Contents:</p>
            <ol class="list list-number">
              <li><a href="paying-for-care">Paying for care and support</a></li>
                <li>Care and support at home</li>
              <li><a href="#">Care in a residential home</a></li>
              <li><a href="financial-assessment-explained">Financial assessment</a></li>
              <li><a href="personal-budget">Personal budget</a></li>
              <li><a href="care-charges">Care charges</a></li>
              <li><a href="ways-to-pay">Ways to pay for your care</a></li>
              <li><a href="#">Independent financial advice</a></li>
            </ol>
          </div>
        </div>
      </div>

<!-- Body copy -->

    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="navigation-break"></div>
          <p>
            Most people have to pay something towards their care and support. How much you have to pay depends on your:
          </p>
          <ul class="list list-bullet">
            <li>
              Income – such as pensions and benefits
            </li>
            <li>
              Capital – such as savings, investments, property and land
            </li>
          </ul>
          <h2 class="heading-medium" id="subsection-title">Care and support you don’t have to pay for</h2>
          <p>Some care and support is free, including:</p>
          <ul class="list list-bullet">
            <li>
              Short term (up to 6 weeks) support and rehabilitation for people who have been in hospital. This is also called intermediate care and reablement
            </li>
            <li>
              Aids and minor adaptations costing £1,000 or less - <a href="https://www.livingwellessex.org/at-home/staying-in-your-own-home/equipment-to-help-at-home/">Living Well Essex</a> has information on aids and adaptations
            </li>
            <li>
              Support services offered to carers - for more information contact <a href="https://www.carersfirst.org.uk/?Adult_Services_-_Essex">Carers First</a>
            </li>
          </ul>
      </div>
    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="financial-assessment">Start your financial assessment</a></li>
            <li><a href="care-charges">Care charges</a></li>
            <li><a href="ways-to-pay">Ways to pay for your care</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</main>
{% endblock %}
