{% extends "layout.html" %}
{% block page_title %}
  Care charges
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="adult-social-care">Adult Social Care</a>
    </li>
    <li>
      <a href="paying-for-care">Paying for care</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Care charges
      </h1>

<!-- In-page navigation -->

      <div class="navigation-container small">
        <p>Contents:</p>
          <ol class="list list-number">
            <li><a href="paying-for-care">Paying for care and support</a></li>
            <li><a href="#">Care in a residential home</a></li>
            <li><a href="financial-assessment-explained">Financial assessment explained</a></li>
            <li><a href="personal-budget">Personal budget</a></li>
            <li>Care charges</li>
            <li><a href="ways-to-pay">Ways to pay for your care</a></li>
          </ol>
        </div>
      </div>
    </div>

<!-- Body copy -->

    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="navigation-break"></div>
        <p>We charge the following rates for care and support services at home, sometimes called non-residential or domiciliary care.</p>
        <table>
            <thead>
              <tr>
                <th>2018/19 charges</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Type of service</td>
                <td>Frequency</td>
                <td>Cost</td>
              </tr>
              <tr>
                <td>Home Support Services (normal hours) one-to-one</td>
                <td>Hourly</td>
                <td>£17.04</td>
              </tr>
              <tr>
                <td>Day Care</td>
                <td>Per session</td>
                <td>£10.73</td>
              </tr>
              <tr>
                <td>Day Care with transport</td>
                <td>Per session</td>
                <td>£12.20</td>
              </tr>
              <tr>
                <td>Community Support Services group session</td>
                <td>Per session</td>
                <td>£10.73</td>
              </tr>
              <tr>
                <td>Community Support Services group session with transport</td>
                <td>Per session</td>
                <td>£12.20</td>
              </tr><tr>
                <td>Night waking </td>
                <td>Hourly</td>
                <td>£16.28</td>
              </tr><tr>
                <td>Night sleeping</td>
                <td>Hourly</td>
                <td>£12.84</td>
              </tr>
              <tr>
                <td>24-hour care</td>
                <td>Hourly</td>
                <td>£12.32</td>
              </tr>
              <tr>
                <td>Maximum weekly charge</td>
                <td>Per week</td>
                <td>£1,386.00</td>
              </tr>
            </tbody>
          </table>
          <p>Your charges will start from the first day of your care.</p>
          <p>If this is before your financial assessment is complete, you might be invoiced for the full cost of your care. We will adjust your invoice once the financial assessment is complete.</p>
          <p>You won't be charged for care if you go into hospital as you will not be receiving care and support at home.</p>
          <h2 class="heading-medium">
            How care charges work
          </h2>
          <p>
            Your 'assessed contribution' is the amount we calculate you can afford to pay based on your financial assessment.
          </p>
          <p>
            You will never be asked to pay more than your assessed contribution or more than the cost of your care if this is less than your assessed contribution.
          </p>
          <h3 class="heading-small">Example: assessed contribution is less than care costs</h3>
          <p>
            Mrs. R receives one hour of home support services per week, costing £17.04. She also attends a day-care centre once a week, with transport, costing £12.20.
          </p>
          <ul class="list list-bullet">
            <li>
              The total cost for her care is £29.24
            </li>
            <li>
              Her assessed contribution is £15
            </li>
            <li>
              Mrs. R pays the lower contribution of £15 per week
            </li>
          </ul>
          <h3 class="heading-small">Example: assessed contribution is more than care costs</h3>
          <p>Mr. B receives 2 hours of home support services per week, costing £34.08. He also attends a community support group session once a week, costing £10.73</p>
          <ul class="list list-bullet">
            <li>
              The total cost for his care is £44.81
            </li>
            <li>
              His assessed contribution is £125.25
            </li>
            <li>
              Mr. B pays the lower contribution of £44.81 per week
            </li>
          </ul>
      </div>
      <div class="column-third">
        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Related content</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="financial-assessment">Start your financial assessment</a></li>
              <li><a href="#">Independent financial advice</a></li>
              <li><a href="ways-to-pay">Pay your care invoice</a></li>
            </ul>
          </nav>
        </aside>
      </div>
    </div>

    <nav class="pagination">
      <ul>
        <li class="prev">
          <a href="personal-budget">
            <span class="pagination-item">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              Previous
            </span>
            <span>Personal budget</span>
          </a>
        </li>
        <li class="next">
          <a href="ways-to-pay">
            <span class="pagination-item">Next
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
            </span>
            <span>Ways to pay for your care</span>
          </a>
        </li>
      </ul>
    </nav>

</main>
{% endblock %}
