{% extends "layout.html" %}
{% block page_title %}
  Care and support at home
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="adult-social-care">Adult Social Care</a>
    </li>
    <li>
      <a href="paying-for-care">Paying for care</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Care and support at home</h1>
      <p>
        Most people have to pay something towards their care and support. How much you have to pay depends on your:
      </p>
      <ul class="list list-bullet">
        <li>
          Income – such as pensions and benefits
        </li>
        <li>
          Capital – such as savings, investments, property and land
        </li>
      </ul>
      <h2 class="heading-medium" id="subsection-title">Care and support you don’t have to pay for</h2>
      <p>Some care and support is free, including:</p>
      <ul class="list list-bullet">
        <li>
          Short term (up to 6 weeks) support and rehabilitation for people who have been in hospital. This is also called intermediate care and reablement 
        </li>
        <li>
          Aids and minor adaptations costing £1,000 or less - <a href="https://www.livingwellessex.org/at-home/staying-in-your-own-home/equipment-to-help-at-home/">Living Well Essex</a> has information on aids and adaptations
        </li>
        <li>
          Support services offered to carers - for more information contact <a href="https://www.carersfirst.org.uk/?Adult_Services_-_Essex">Carers First</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-row border">
    <div class="column-one-quarter">
      <h3 class="heading-small"><a href="financial-checker">Am I eligible for financial support?</a></h3>
      <p>
        Use our 5-minute financial checker to estimate if you are eligible for support towards the cost of your care
      </p>
    </div>
    <div class="column-one-quarter">
      <h3 class="heading-small"><a href="financial-assessment">Financial assessment</a></h3>
      <p>
        Complete your full financial assessment online if you have been assessed as needing care and support
      </p>
    </div>
    <div class="column-one-quarter">
      <h3 class="heading-small"><a href="care-charges">Care charges</a></h3>
      <p>
        See our rates for care and support services at home, sometimes called non-residential or domiciliary services.
      </p>
    </div>
    <div class="column-one-quarter">
      <h3 class="heading-small"><a href="ways-to-pay">Ways to pay for your care
</a></h3>
      <p>
        Pay your social care invoice or find out about direct payments
      </p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium" id="subsection-title">Related content</h2>
      <div class="panel">
        <h3 class="heading-small"><a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/charging-for-care-services/Pages/Independent-financial-advice.aspx">Independent financial advice</a></h3>
        <p>Talk to an independent expert about your finances to be sure you’re getting accurate and impartial advice</p>
        <h3 class="heading-small"><a href="https://www.livingwellessex.org/support-directory/">Support directory</a></h3>
        <p>View our online directory of care and support services for Essex residents</p>
        <h3 class="heading-small"><a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/charging-for-care-services/Pages/paying-for-a-care-home.aspx">Paying for a residential home</a></h3>
        <p>Consider your options for managing the costs of moving to a residential home</p>
        <h3 class="heading-small"><a href="https://essex-prototype.herokuapp.com/change-circumstances">Change of circumstances</a></h3>
        <p>Tell us as about changes to your personal details, health or finances</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}