{% extends "layout.html" %}
{% block page_title %}
  Change of circumstances
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="adult-social-care">Adult Social Care</a>
    </li>
    <li>
      <a href="paying-for-care">Paying for care</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Change of circumstances
      </h1>
      <h2 class="heading-medium">
        Changes to your details
      </h2>
      <p>
        You need to tell your social worker if there are changes to your:
      </p>
      <ul class="list list-bullet">
        <li>
          name
        </li>
        <li>
          address
        </li>
        <li>
          bank account
        </li>
      </ul>
      <p>
        This is so we can update our records.
      </p>
      <p>
        You need to tell your social worker if you:
      </p>
      <ul class="list list-bullet">
        <li>
          need the payments to stop
        </li>
        <li>
          go into hospital or residential care
        </li>
      </ul>
      <p>
        This helps us to make changes to your payments until you need care again.
      </p>
      <p>
        You also need to tell us if your financial circumstances change. This may make a difference to how much you have to pay towards your care and support.
      </p>
      <h2 class="heading-medium">
        Suspending or ending direct payments
      </h2>
      <p>
        You can choose to end direct payments at any time if:
      </p>
      <ul class="list list-bullet">
        <li>
          you're no longer able to manage the direct payment
        </li>
        <li>
          you no longer need the care and support which you're using direct payments for
        </li>
      </ul>
      <p>
        We will suspend or end your direct payments if:
      </p>
      <ul class="list list-bullet">
        <li>
          you use your direct payments for anything other than the care and support we agreed
        </li>
        <li>
          you’re assessed to no longer need the care and support your direct payment is used for
        </li>
        <li>
          we consider the direct payment to be no longer suitable to meet your needs
        </li>
      </ul>
      <p>
        If this is the case, we will still arrange your care and support to make sure your assessed eligible needs are met.
      </p>
  </div>
</main>
{% endblock %}