{% extends "layout.html" %}
{% block page_title %}
  Change of circumstances
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="adult-social-care">Adult Social Care</a>
    </li>
    <li>
      <a href="paying-for-care">Paying for care</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Update your details
      </h1>
      <p>
        You need to tell us as soon as possible if there are any changes to your details, including:
      </p>
      <ul class="list list-bullet">
        <li>
          name
        </li>
        <li>
          address
        </li>
        <li>
          bank account
        </li>
        <li>
          financial situation, such as benefits entitlement
        </li>
      </ul>
      <p>
        Contact the Financial Assessment Team on 03330 135895 or email <a href="#">assessandpay.servicecentre@essex.gov.uk</a>
      </p>
      <h2 class="heading-medium">
        Direct payments
      </h2>
      <p>
        You need to tell us if you have to go to hospital or temporary care if you receive direct payments. This is so we can make changes to your payments until you need care again.
      </p>
      <p>
        Contact the Direct Payments Team on 0345 603 7630 or email <a href="#">DirectPayments.FinancialPayments@essex.gov.uk</a>
      </p>
      <h2 class="heading-medium">
        Benefits
      </h2>
      <p>
        If you receive benefits, you will need to tell your benefits provider about changes to your details. Visit <a href="https://www.gov.uk/browse/benefits">GOV.UK</a> for more information about benefits.
      </p>
    </div>
  </div>
</main>
{% endblock %}
