{% extends "essex_main_template_search_header.html" %}

{% block content %}

<main id="content">

  <div class="container">
    <div class="main">
      <div class="breadcrumbs">
        <ol>
          <li><a href="docs/core/contents">Contents</a></li>
          <li><a href="">Content break example</a></li>
        </ol>
      </div>
      <section class="intro">
        <h1>Content break example</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </section>

      <section class="content">
        <h2>Initial content heading</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis tortor orci. Morbi vestibulum tortor elit, ac semper ipsum cursus quis. Nam lacinia eget nulla vel scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ultricies posuere dapibus. Quisque vel massa porttitor, bibendum orci id, hendrerit felis. Praesent consectetur ipsum maximus, condimentum enim eget, porttitor tortor. Proin sodales facilisis laoreet. Nam vitae pharetra metus, sit amet venenatis tortor.</p>
        <div class="preview-list">
          <ul>
            <li>
              <a href="#">Preview</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
            <li>
              <a href="#">Preview</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
            <li>
              <a href="#">Preview</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
          </ul>
          <div class="js-hidden" id="tab-one" aria-hidden="true">
            <ul>
              <li>
                <a href="#">Preview</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
              <li>
                <a href="#">Preview</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
            </ul>
          </div>
          <div data-target="tab-one">
            <input class="checkbox" id="toggle-one" type="checkbox" aria-controls="tab-one" aria-expanded="false">
            <label class="show" for="toggle-one">Show</label>
            <label class="hide" for="toggle-one">Hide</label>
          </div>
        </div>
      </section>

      <section class="content">
        <h2>Further content heading</h2>
        <div class="preview-list">
          <ul>
            <li>
              <a href="#">Preview</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
            <li>
              <a href="#">Preview</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
            <li>
              <a href="#">Preview</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
          </ul>
          <div class="js-hidden" id="tab-two" aria-hidden="true">
            <ul>
              <li>
                <a href="#">Preview</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
              <li>
                <a href="#">Preview</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
            </ul>
          </div>
          <div data-target="tab-two">
            <input class="checkbox" id="toggle-two" type="checkbox" aria-controls="tab-two" aria-expanded="false">
            <label class="show" for="toggle-two">Show</label>
            <label class="hide" for="toggle-two">Hide</label>
          </div>
        </div>
      </section>

      <section class="function">
        {% block pagination %}
          {% include "includes/pagination.html" %}
        {% endblock %}

        {% block printlink %}
          {% include "includes/print-link.html" %}
        {% endblock %}
      </section>
    </div>
  </div>
</main>

{% endblock %}
