{% extends "layout.html" %}
{% block page_title %}
  Declaring your finances
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  <a href="financial-assessment-eligibility" class="link-back">Back</a>
    <div class="grid-row">
      <div class="column-two-thirds">
        <form action="/declareFinances" method="get" class="form">
          <h1 class="heading-large">
            Declaring your finances
          </h1>
          <p>
            If you don't wish to declare your finances, or you have savings and investments above £23,250, you can choose to pay the full cost of your care services.
          </p>
          <p>
            You, or your reperesentative, must read the following statement and confirm that you are happy to share details of your finances so that we can calculate your contribution.
          </p>
          <div class="form-group">
            <fieldset>
              <div class="multiple-choice">
                <input id="declare-finances" type="radio" name="declareFinances" value="yes" {{ checked("option", "yes") }}required>
                <label for="declare-finances">Yes, I do want to provide my financial details</label>
              </div>
              <div class="multiple-choice">
                <input id="declare-finances" type="radio" name="declareFinances" value="no" {{ checked("option", "no") }} required>
                <label for="declare-finances">No, I do not wish to provide my financial details</label>
              </div>
            </fieldset>
          </div>
          <div class="form-group">
            <input type="submit" class="button" value="Continue">
          </div>
        </form>
      </div>
    </div>
</main>
{% endblock %}
