{% extends "layout.html" %}

{% block page_title %}
  Example - Branching
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Using direct payments
      </h1>
      <p>
        You can only use direct payments to pay for the care and support we have agreed in your care and support plan. You mustn’t use it for anything we haven’t agreed to, such as administration costs associated with direct payments, as this should be set out in your care and support plan.
      </p>
      <p>
        You can use your direct payments to:
      </p>
      <h2 class="heading-medium">
        Employ someone to help care for you
      </h2>
      <p>
        You can use your direct payments to employ a personal assistant or a carer to support you. This gives you more control over the help you get.
      </p>
      <p>
        As an employer, you have legal and financial responsibilities to the people you employ. You are responsible for:
      </p>
      <ul class="list list-bullet">
        <li>
          recruitment and pay
        </li>
        <li>
          paying national insurance and income tax
        </li>
        <li>
          issuing contract of employment and having performance and disciplinary arrangements
        </li>
        <li>
          arranging insurance cover for employers liability
        </li>
        <li>
          pay and manage maternity or paternity leave, and sick leave
        </li>
      </ul>
      <p>
        If you want to employ your own carer or personal assistant, <a href="https://wearepurple.org.uk/">Purple</a> can help you with recruitment and employment issues.
      </p>
      <h2 class="heading-medium">
        Pay a care agency
      </h2>
      <p>
        You can pay a care agency to get a carer to look after you. This means less control over the help you get but the agency will arrange everything for you.
      </p>
      <p>
        Get more information and advice on <a href="https://www.livingwellessex.org/looking-after-someone/being-a-carer/paying-for-a-private-carer/">employing someone and paying a care agency.</a>
      </p>
      <h2 class="heading-medium">
        Pay for other services to meet your eligible need
      </h2>
      <p>
        You can use your direct payments to pay for other services we have agreed in your care and support plan. For example, equipment and adapting your home to help with everyday life.
      </p>
      <p>
        You can't use your direct payments on anything we haven’t agreed in your care and support plan.
      </p>
      <p>
        You will need to keep a record of how you spend the direct payment money.
      </p>
      <p>
        Your social care worker will go through these options with you when you agree your care and support plan.
      </p>
      <h2 class="heading-medium">
        Reviewing your direct payments
      </h2>
      <p>
        We will review your care and support plan and direct payments every year or as we think necessary to make sure this is working well for you. This is set out in your direct payment agreement.
      </p>
      <p>
        We will ask you to show your records of how you’ve spent the direct payment money. This could be:
      </p>
      <ul class="list list-bullet">
        <li>
          bank statements
        </li>
        <li>
          invoices and receipts
        </li>
        <li>
          payroll records
        </li>
      </ul>
      <p>
        Your social worker will be in touch when your annual review is due.
      </p>
      <nav class="pagination">
        <ul>
          <li class="prev">
            <a href="receiving-your-payments">
              <span class="pagination-item">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                Previous
              </span>
              <span>Receiving your payments</span>
            </a>
          </li>
        </ul>
      </nav>
  </div>
</main>
{% endblock %}
