{% extends "layout.html" %}
{% block page_title %}
  Education
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
  </ol>
</div>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">Education</h1>
    </div>
  </div>


<!-- Primary links -->

    <ul class="primary-link-box">
      <li class="primary-link-list">
        <div class="primary-link-content">
          <h3 class="heading-small"><a href="#">Early years and childcare</a></h3>
            <p>Advice for parents on finding childcare, free early education entitlement and other family services
            </p>
        </div>
      </li>
      <li class="primary-link-list">
        <div class="primary-link-content">
          <h3 class="heading-small"><a href="schools">Schools</a></h3>
          <p>Includes school admissions, term dates and emergency school closures
          </p>
        </div>
      </li>
      <li class="primary-link-list">
        <div class="primary-link-content">
          <h3 class="heading-small"><a href="#">Adult courses and learning</a></h3>
          <p>Choose from a range of evening and day time courses in Essex</p>
        </div>
      </li>
    </ul>



<!-- Secondary links -->

<div class="grid-row">
  <div class="column-full">
    <ul>
      <li class="secondary-link">
        <h3 class="heading-small"><a href="#">Special educational needs (SEN)</a></h3>
        <p>What to do if you think your child has SEN, applying for a school place and home to school transportation for children with SEN.</p>
      </li>
      <li>
        <h3 class="heading-small"><a href="#">Options for education and training after 16</a></h3>
        <p>Includes: remaining in full time education, apprenticeships, volunteering or work.</p>
      </li>
    </ul>
  </div>
  <div class="column-full">
    <p>
      <a href="#">See all services</a>
    </p>
  </div>
</div>


</main>



{% endblock %}
