{% extends "layout.html" %}
{% block page_title %}
  Education
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
  </ol>
</div>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">Education</h1>
    </div>
  </div>


<!-- Primary links -->

    <ul class="primary-link-box">
      <li class="primary-link-list">
        <div class="primary-link-content">
          <h3 class="heading-small"><a href="#">Early years and childcare</a></h3>
            <p>Advice for parents on finding childcare, free early education entitlement and other family services
            </p>
        </div>
      </li>
      <li class="primary-link-list">
        <div class="primary-link-content">
          <h3 class="heading-small"><a href="schools">Schools</a></h3>
          <p>Includes school admissions, term dates and emergency school closures
          </p>
        </div>
      </li>
      <li class="primary-link-list">
        <div class="primary-link-content">
          <h3 class="heading-small"><a href="#">Adult courses and learning</a></h3>
          <p>Choose from a range of evening and day time courses in Essex</p>
        </div>
      </li>
    </ul>



<!-- Secondary links -->

<div class="grid-row">
  <div class="column-full">
    <ul>
      <li class="secondary-link">
        <h3 class="heading-small"><a href="#">Special educational needs (SEN)</a></h3>
        <p>What to do if you think your child has SEN, applying for a school place and home to school transportation for children with SEN.</p>
      </li>
      <li>
        <h3 class="heading-small"><a href="#">Options for education and training after 16</a></h3>
        <p>Includes: remaining in full time education, apprenticeships, volunteering or work.</p>
      </li>
    </ul>
  </div>
  <div class="column-full">
    <p>
      <a href="#">See all services</a>
    </p>
  </div>
</div>

<!-- Guidance and legislation -->

  <div class="section-break"></div>

  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">Guidance and legislation</h2>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">
      <ul>
        <li class="secondary-link">
          <h3 class="heading-small"><a href="#">Care Act (GOV.UK)</a></h3>
          <p>Add some text here</p>
        </li>
        <li>
          <h3 class="heading-small"><a href="#">Essex County Council care policy</a></h3>
          <p>Financial and practical support for carers, people who look after a friend or family member</p>
        </li>
      </ul>
    </div>
    <div class="column-full">
      <p>
        <a href="#">See all guidance and legislation</a>
      </p>
    </div>
  </div>

<!-- News -->

  <div class="section-break"></div>

  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-large">Related news</h2>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <img class="news-img" src="public/images/essex-cc-chelmsford.jpg" />
      <h3 class="heading-small"><a href="#">News story</a></h3>
      <p>3 October 2018 — News story</p>
    </div>

    <div class="column-two-thirds">
      <ul>
        <li class="secondary-link">
          <h3 class="heading-small"><a href="#">News story</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia.</p>
        </li>
        <li class="secondary-link">
          <h3 class="heading-small"><a href="#">News story</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia.</p>
        </li>
        <li>
          <h3 class="heading-small"><a href="#">News story</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia.</p>
        </li>
      </ul>
    </div>
  </div>


</main>



{% endblock %}
