{% extends "layout.html" %}
{% block page_title %}
  End of financial assessment
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  <a href="declare-finances" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/" method="get" class="form">
        <div class="govuk-box-highlight">
          <h1 class="heading-xlarge">
            End of financial assessment
          </h1>
          <p class="font-large">
            You have chosen not to provide your financial details
          </p>
        </div>
        <p>
          This means you accept full responsibility for the cost of the service/services and agree to pay the maximum charge notified to you.
        </p>
        <p>
          You must also notify us in writing of any change to your personal or financial circumstances and that as a result, the amount you financially contribute may change.
        </p>
      </form>
    </div>
  </div>
</main>
{% endblock %}
