{% extends "layout.html" %}
{% block page_title %}
  Financial Assessment eligibility
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/careneedsAssessed" method="get" class="form">
        <h1 class="heading-large">
          Financial assessment eligibility
        </h1>
        <p>
          Once you have completed this form we will be able to calculate how much you will need to pay towards your care. This will be based on your income, savings and expenses.
        </p>
        <p>
          You should only complete this form after you have had a meeting with a social worker and they have confirmed that you need support with your care needs.
        </p>
        <h2 class="heading-medium">Has a social worker confirmed that we will support you with your care needs?</h2>
        <div class="form-group">
          <fieldset>
            <div class="multiple-choice">
              <input id="careneeds-assessed" type="radio" name="careneedsAssessed" value="yes" {{ checked("option", "yes") }}required>
              <label for="careneeds-assessed">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="careneeds-assessed" type="radio" name="careneedsAssessed" value="no" {{ checked("option", "no") }} required>
              <label for="careneeds-assessed">No</label>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
