{% extends "layout.html" %}
{% block page_title %}
  Financial checker
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="adult-social-care">Adult Social Care</a>
    </li>
    <li>
      <a href="paying-for-care">Paying for care</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Care contribution calculator
      </h1>
      <p>
        Use our simple calculator to estimate if you, or the person you are looking after, might be eligible for financial support towards care costs.
      </p>
      <div class="panel panel-border-wide">
        <p>
          This is a rough guide only. You won’t find out for definite if you are eligible for financial support or how much you’ll get until you complete a full financial assessment.
        </p>
      </div>
      <h2 class="heading-medium">
        Before you start
      </h2>
      <ul class="list list-bullet">
        <li>
          This calculator won’t store or send on any information that you provide
        </li>
        <li>
          Your actual contribution can only be calculated after a <a href="what-financial-assessment">Financial Assessment</a>
        </li>
      </ul>
      <p>
        Completion time: 5 minutes
      </p>
      <p>
        <a class="button button-start" href="financial-checker/where-do-you-live" role="button">Start now</a>
      </p>
      <p class="small meta">
        Last updated: 25th June 2018
      </p>
    </div>
  </div>
</main>
{% endblock %}
