{% extends "layout.html" %}
{% block page_title %}
  Financial assessment
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Start your financial assessment
      </h1>
      <p>
        A financial assessment tells us how much you can afford to pay towards your care and support.
      </p>
      <div class="panel panel-border-wide">
        It can only be completed if you have already been assessed as needing care and support. If you haven't, you can request a <a href="https://www.livingwellessex.org/at-home/staying-in-your-own-home/requesting-an-assessment">care needs assessment</a>
      </div>
      <p>If you haven't had a care needs assessment, you can estimate your eligibility for financial support towards the cost of care with our simple, 5-minute financial checker.</p>
        <h2 class="heading-medium">Before you start</h2>
        <p>
          You will need to have some documents handy, such as bank statements and utility bills. <a href="what-you-need">See the full list of documents needed.</a>
        </p>
        <p>
          You can save your answers as you go and return to the form later.
        </p>
        <p>
          It takes around 45 minutes to complete.</p>
        <p>
          <a class="button button-start" href="financial-assessment-eligibility" role="button">Start now</a>
        </p>
      </div>
  </div>
</main>
{% endblock %}
