{% extends "layout.html" %}
{% block page_title %}
  Find out what you might need to pay
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="adult-social-care">Adult Social Care</a>
    </li>
    <li>
      <a href="paying-for-care">Paying for care</a>
    </li>
    <li>
      <a href="care-at-home">Care and support at home</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Find out what you might need to pay
      </h1>
      <p>
        Use our simple financial checker to find out if you, or the person you are looking after, might be eligible for financial support towards care costs.
      </p>
      <p>
        Completion time: 5 minutes
      </p>
      <p>
        <a class="button button-start" href="where-do-you-live" role="button">Start financial checker</a>
      </p>
    </div>
    <div class="column-two-thirds">
      <h2 class="heading-medium">
        Before you start
      </h2>
      <p>
        If your Social Worker agrees that you need support from us, you may need to pay something towards the cost. This is calculated based on your ability to pay.
      </p>
      <p>
        <strong>Please note:</strong> This is a rough guide only.
      </p>
      <ul class="list list-bullet">
        <li>
          This calculator won’t store or send on any information that you provide.
        </li>
        <li>
          Your actual contribution can only be calculated after a <a href="what-financial-assessment">Financial Assessment.</a>
        </li>
      </ul>
      <p class="small meta">
        Last updated: 25th June 2018
      </p>
    </div>
  </div>
</main>
{% endblock %}
