{% extends "layout.html" %}
{% block page_title %}
  Financial assessment
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="paying-for-care">Paying for care</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge">
          Financial assessment
        </h1>
        <p>
          A financial assessment tells us how much you can afford to pay towards your care and support.
        </p>
        <p>
          It takes around 1.5 hours to complete.</p>
        <p>
          <a class="button button-start" href="#" role="button">Start now</a>
        </p>
        <h2 class="heading-large">
          What you need for your financial assessment
        </h2>
        <h2 class="heading-medium">
          About you
        </h2>
        <p>We'll need your contact information and, if you have one, details of your power of attorney, deputy or financial representative.</p>
        <p>Documents you might need:</p>
        <ul class="list list-bullet">
          <li>
            Power of Attorney documentation
          </li>
          <li>
            Appointee forms
          </li>
          <li>
            Court of Protection Order
          </li>
        </ul>
        <h2 class="heading-medium">
          Savings and capital
        </h2>
        <p>We'll need to know about all your bank accounts, and any savings, bonds and investments you have.</p>
        <p>Documents you might need:</p>
        <ul class="list list-bullet">
          <li>
            Bank account statements
          </li>
          <li>
            Savings account statements
          </li>
          <li>
            Bond certificates
          </li>
          <li>
            Life assurance bond certificates evidencing life/lives assured and any income received
          </li>
          <li>
            Share certificates
          </li>
          <li>
            National savings certificates
          </li>
          <li>
            Investment or trust documents
          </li>
          <li>
            Property title and mortgage documents
          </li>
        </ul>
        <h2 class="heading-medium">
          Income
        </h2>
        <p>
          We'll need to know about the benefits you receive, all your pensions and any income you make, including rental income from property or land.
        </p>
        <p>
          Documents you might need:
        </p>
        <ul class="list list-bullet">
          <li>
            Latest benefit entitlement or award letters from the Department for Work and Pensions - for the current financial year (April-March)
          </li>
          <li>
            Verification of private pension
          </li>
          <li>
            Paperwork relating to a deferred pension or annuity
          </li>
          <li>
            Proof of salary
          </li>
          <li>
            Evidence of rental income
          </li>
          <li>
            Current bank account statements detailing other income
          </li>
        </ul>
        <h2 class="heading-medium">
          Housing costs
        </h2>
        <p>
          If you are waiting to hear about a benefit which you have applied for, please inform us immediately when you hear about the claim.
        </p>
        <p>
          We'll need to know about your share of expenses relating to your council tax, rent, mortgage and service charges.
        </p>
        <p>
          Documents you might need:
        </p>
        <ul class="list list-bullet">
          <li>
            Housing benefit or council tax award letter
          </li>
          <li>
            Relevant paperwork showing how much you pay for rent, service charges, mortgage and council tax
          </li>
          <li>
            Rental agreement or housing association breakdown showing other costs included in your rent and service charges
          </li>
          <li>
            Last 4 utility bills showing your annual heating and power costs
          </li>
          <li>
            Water, sewerage, buildings and contents insurance bills
          </li>
        </ul>
        <p>
          Proof of Direct Debit payments will be accepted.
        </p>
        <h2 class="heading-medium">
          Costs linked to your disability
        </h2>
        <p>
          If you are having care at home, we'll also need to see any evidence relating to expenses you may have because of your condition, impairment or disability.
        </p>
        <p>
          Visit <a href="https://www.gov.uk/government/publications/care-act-statutory-guidance/care-and-support-statutory-guidance#disability-related-expenditure">GOV.UK's care and support statutory guidance</a> for an example of disability-related expenditure.
        </p>
        <h2 class="heading-medium">
          Property
        </h2>
        <p>
          We'll need to know about any property and land you own.
        </p>
        <p>
          Documents you might need:
        </p>
        <ul class="list list-bullet">
          <li>
            Your latest mortgage statement
          </li>
          <li>
            Documents relating to additional property
          </li>
          <li>
            Equity release documents
          </li>
          <li>
            Proof of joint ownership
          </li>
          <li>
            Proof of property previously owned in the last 2 years
          </li>
        </ul>
        <h2 class="heading-medium">
          Not disclosing your financial circumstances
        </h2>
        <p>
          If you don’t want to tell us about your financial circumstances, you will need to sign a 'non-disclosure' statement. This means you will be charged the full cost of your care.
        </p>
        <p>
          You can change your mind at any time and choose to complete a financial assessment. We will then look at your relevant financial history, including the period of time covered by the non-disclosure statement.
        </p>
        <h2 class="heading-medium">
          More information about financial assessment
        </h2>
        <ul class="list list-bullet">
          <li>
            <a href="what-financial-assessment">What is a financial assessment?</a>
          </li>
          <li>
            <a href="what-financial-assessment">How do I get a financial assessment?</a>
          </li>
          <li>
            <a href="what-financial-assessment">What is a personal budget?</a>
          </li>
          <li>
            <a href="what-financial-assessment">How is a personal budget used?</a>
          </li>
          <li>
            <a href="what-financial-assessment">What happens after your financial assessment?</a>
          </li>
          <li>
            <a href="what-financial-assessment">What help is there for self-funders?</a>
          </li>
        </ul>
    </div>
  </div>
</main>
{% endblock %}