{% extends "essex_main_template.html" %}

{% block content %}

<main id="content">
  <section class="section mid">
    <h1>Page heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud <a href="#">exercitation ullamco</a> laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur.</p>
    <h2>Section heading</h2>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="panel">
      <p>It can only be completed if you have already been assessed as needing care and support.</p>
    </div>
  </section>
  <section class="section mid">
    <a class="button button-start" href="#" role="button">Start now</a>
  </section>
  <section class="section tight">
    <input type="submit" class="button" value="Continue">
  </section>
  <section class="section mid">
    <form class="form">
      <div class="group">
        <label>Full name</label>
        <span class="form-hint">As shown on your birth certificate or passport</span>
        <input class="form-control" id="" name="" type="" pattern="" min="" max="">
      </div>
      <div class="group">
        <fieldset>
          <legend>
            <span class="form-hint">
              What is your date of birth?
            </span>
            <span class="form-hint">
              For example, 31 3 1980
            </span>
          </legend>
          <div class="group day">
            <label for="">Day</label>
            <input class="form-control" name="" type="" pattern="" min="" max="">
          </div>
          <div class="group month">
            <label for="">Month</label>
            <input class="form-control" name="" type="" pattern="" min="" max="">
          </div>
          <div class="group year">
            <label for="">Year</label>
            <input class="form-control" name="" type="" pattern="" min="" max="">
          </div>
        </fieldset>
      </div>
    </form>
    <h3>Content heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="form-group">
      <fieldset>
        <div class="multiple-choice">
          <input id="" type="radio" name="" value="" required="">
          <label>Yes</label>
        </div>
        <div class="multiple-choice">
          <input id="" type="radio" name="" value="" required="">
          <label>No</label>
        </div>
      </fieldset>
    </div>
    <h3>Content heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="form-group">
      <fieldset>
        <div class="multiple-choice">
          <input id="" name="" type="checkbox" value="">
          <label for="">Telephone</label>
        </div>
        <div class="multiple-choice">
          <input id="" name="" type="checkbox" value="">
          <label for="">Email</label>
        </div>
        <div class="multiple-choice">
          <input id="" name="" type="checkbox" value="">
          <label for="">Post</label>
        </div>
      </fieldset>
    </div>
  </section>
  <section class="section loose">
    <div class="highlight-box">
      <h1>Financial checker complete</h1>
      <p>Self funded care</p>
    </div>
    <p class="meta">Last updated: 25 June 2018</p>
  </section>
</main>

{% endblock %}
