{% extends "layout.html" %}
{% block page_title %}
  How to pay
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="paying-for-care">Paying for care</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        How to pay
      </h1>
      <ul class="list contents">
        <li>
          How to pay
        </li>
        <li>
          <a href="care-at-home">Care at home</a>
        </li>
        <li>
          <a href="residential-homes">Residential homes</a>
        </li>
      </ul>
      <h2 class="heading-medium">
        Direct Payments
      </h2>
      <p>
        If you choose to arrange your own care and support, you can use <a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/charging-for-care-services/Pages/Direct-payments.aspx">direct payments</a> to pay for it.
      </p>
      <h2 class="heading-medium">
        Arranged care and support
      </h2>
      <p>
        If we arrange care and support for you, we will send you or your representative regular invoices, unless you are using <a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/charging-for-care-services/Pages/Direct-payments.aspx">direct payments.</a>
      </p>
      <p>
        <a href="https://essex.paris-epayments.co.uk/essex/payments/sales/launchinternet.aspx">Pay your invoice online</a> with a debit or credit card.
      </p>
      <p>
        You can also pay by:
      </p>
      <ul class="list list-bullet">
        <li>
          Direct Debit
        </li>
        <li>
          Bank transfer
        </li>
        <li>
          Telephone (on the number below)
        </li>
        <li>
          Cheque
        </li>
      </ul>
      <p>
        If you are having difficulties paying, please contact the income collection team as soon as possible to discuss what options are available to you.
      </p>
      <p>
        If you don’t pay your invoice in full, your care won’t stop but we will take action to recover the amount you owe. This can lead to increasing debts and may affect your credit rating in the future.
      </p>
      <h2 class="heading-medium">
        Contact the Income Collection Team
      </h2>
      <p>
        Contact us to discuss payment options or to set up a Direct Debit. Please tell us your customer account number when you contact us.
      </p>
      <ul class="list">
        <li>
          Email: <a href="mailto:income.collection@essex.gov.uk">income.collection@essex.gov.uk</a>
        </li>
        <li>
          Telephone: 03330 135860 Option 1
        </li>
        <li>
          Text phone: 0845 758 5592
        </li>
        <li>
          Office hours: Monday to Friday 8:30am to 4:30pm
        </li>
      </ul>
      <nav class="pagination">
        <ul>
          <li class="next">
            <a href="care-at-home">
              <span class="pagination-item">Next
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
              </span>
              <span>Care at home</span>
            </a>
          </li>
        </ul>
      </nav>
  </div>
</main>
{% endblock %}