{% extends "layout.html" %}

{% block page_title %}
  Example - Branching
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        How to pay
      </h1>
      <h2 class="heading-medium">
        What are direct payments?
      </h2>
      <p>
        Direct payments are payments we make to you so you can arrange the care and support we have agreed you need. You can arrange and pay for your own care and support instead of us doing it for you.
      </p>
      <h2 class="heading-medium">
        How can I get direct payments?
      </h2>
      <p>
        If you’re an adult (over 18) and already getting support from us, you can ask for direct payments. Ask your social care worker for information and advice.
      </p>
      <p>
        If you're not already getting support from us, you can ask us to complete an assessment to work out how much care and support you need.
      </p>
      <p>
        The amount you get depends on your income and savings. We will carry out a <a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/charging-for-care-services/Pages/financial-assessment-process.aspx">financial assessment</a> to tell us how much you can afford to pay towards your care and support. Your contribution, if any, is deducted from the direct payment before you receive it.
      </p>
      <p>
        You won't be invoiced for the direct payments.
      </p>
      <h2 class="heading-medium">
        Carer's direct payments
      </h2>
      <p>
        Your carer can also get direct payments. Find out how your <a href="https://www.livingwellessex.org/looking-after-someone/carer-benefits/carer-personal-budgets/">carer can get support</a> so they can continue caring for you.
      </p>
      <h2 class="heading-medium">
        Before you get direct payments
      </h2>
      <p>
        You or your legal representative need to <a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/budgets-payments/Documents/Direct-payment-agreement-example.pdf">sign an agreement (PDF, 399 KB)</a> to say that you understand the terms and conditions of the direct payments.
      </p>
      <h2 class="heading-medium">
        More information and advice
      </h2>
      <ul class="list list-bullet">
        <li>
          Read the <a href="https://www.gov.uk/government/publications/care-act-statutory-guidance/care-and-support-statutory-guidance">Care and support statutory guidance on direct payments 2014</a> (chapter 12).
        </li>
        <li>
          NHS Choices gives guidance on <a href="https://www.nhs.uk/conditions/social-care-and-support/direct-payments-personal-budgets/">direct payments and personal budgets.</a>
        </li>
        <li>
          HomecareDirect helps people <a href="http://www.homecaredirect.co.uk/what-is-a-direct-payment/">take control of their own care and support.</a>
        </li>
        <li>
          Age UK offers <a href="https://www.ageuk.org.uk/information-advice/care/social-care-and-support-where-to-start/personal-budgets-and-direct-payments/?_sm_au_=iVV2MwVfQr5NrNJr">information and advice on personal budgets.</a>
        </li>
        <li>
          Sense offers advice on how <a href="https://www.sense.org.uk/get-support/information-and-advice/paying-for-your-support/personal-budgets/?_sm_au_=iVV2MwVfQr5NrNJr">personal budgets</a> can help people with dual sensory impairments (being blind and deaf).
        </li>
      </ul>
      <h2 class="heading-medium">
        Before you get direct payments
      </h2>
      <p>
        You or your legal representative need to <a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/budgets-payments/Documents/Direct-payment-agreement-example.pdf">sign an agreement (PDF, 399 KB)</a> to say that you understand the terms and conditions of the direct payments.
      </p>
      <h2 class="heading-medium">
        Related content
      </h2>
      <p>
        Get advice on getting <a href="https://www.livingwellessex.org/money-and-legal/looking-after-someones-affairs/">help to manage your affairs.</a>
      </p>
      <nav class="pagination">
        <ul>
          <li class="next">
            <a href="receiving-your-payments">
              <span class="pagination-item">Next
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
              </span>
              <span>Receiving your direct payments</span>
            </a>
          </li>
        </ul>
      </nav>
  </div>
</main>
{% endblock %}
