{% extends "essex_main_template.html" %}

{% block content %}

{% block search %}
  {% include "includes/search-home.html" %}
{% endblock %}

<main id="content">

  <div class="container">
    <div class="main only">
      <section class="intro">
        {% block alert %}
          {% include "includes/alert.html" %}
        {% endblock %}
      </section>
      <section class="content">
        <div class="previews">
          <div class="preview">
            <h3 class="sub-section-heading"><a href="#">Preview heading</a></h3>
            <p>Preview copy explaining what content it contains</p>
          </div>
          <div class="preview">
            <h3 class="sub-section-heading"><a href="#">Preview heading</a></h3>
            <p>Preview copy explaining what content it contains</p>
          </div>
          <div class="preview">
            <h3 class="sub-section-heading"><a href="#">Preview heading</a></h3>
            <p>Preview copy explaining what content it contains</p>
          </div>
        </div>
        <div class="previews">
          <div class="preview">
            <h3 class="sub-section-heading"><a href="#">Preview heading</a></h3>
            <p>Preview copy explaining what content it contains</p>
          </div>
          <div class="preview">
            <h3 class="sub-section-heading"><a href="#">Preview heading</a></h3>
            <p>Preview copy explaining what content it contains</p>
          </div>
          <div class="preview">
            <h3 class="sub-section-heading"><a href="#">Preview heading</a></h3>
            <p>Preview copy explaining what content it contains</p>
          </div>
        </div>
        <div class="previews">
          <div class="preview">
            <h3 class="sub-section-heading"><a href="#">Preview heading</a></h3>
            <p>Preview copy explaining what content it contains</p>
          </div>
          <div class="preview">
            <h3 class="sub-section-heading"><a href="#">Preview heading</a></h3>
            <p>Preview copy explaining what content it contains</p>
          </div>
          <div class="preview">
            <h3 class="sub-section-heading"><a href="#">Preview heading</a></h3>
            <p>Preview copy explaining what content it contains</p>
          </div>
        </div>
      </section>

      <section class="content">
        <h2>Section heading</h2>
        <div class="previews">
          <div class="preview">
            <img src="/public/images/news.jpg">
            <h3 class="sub-section-heading"><a href="#">Preview heading with image above</a></h3>
            <p>Preview copy explaining what content it contains.</p>
            <p class="meta">3 October 2018</p>
          </div>
          <div class="preview">
            <img src="/public/images/news.jpg">
            <h3 class="sub-section-heading"><a href="#">Preview heading with image above</a></h3>
            <p>Preview copy explaining what content it contains.</p>
            <p class="meta">3 October 2018</p>
          </div>
          <div class="preview">
            <img src="/public/images/news.jpg">
            <h3 class="sub-section-heading"><a href="#">Preview heading with image above</a></h3>
            <p>Preview copy explaining what content it contains.</p>
            <p class="meta">3 October 2018</p>
          </div>
        </div>
      </section>
      {% block signup %}
        {% include "includes/signup.html" %}
      {% endblock %}
    </div>
  </div>
</main>

{% block impact %}
  {% include "includes/impact.html" %}
{% endblock %}

{% endblock %}
