{% extends "essex_main_template.html" %}

{% block content %}

<main id="content">

  <section class="section tight">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="adult-social-care">Adult Social Care</a></li>
      </ol>
    </div>
  </section>

  <div class="content">
    <section class="mid">
      <h1>Page title</h1>
    </section>
    <section class="mid">
      <div class="contents">
        <ol class="list list-number">
          <li>Paying for care and support</li>
          <li><a href="#">Financial assessment </a></li>
          <li><a href="#">Personal budget</a></li>
          <li><a href="#">Care charges</a></li>
        </ol>
        <ol class="list list-number" start="5">
          <li><a href="#">Ways to pay for your care</a></li>
          <li><a href="#">Paying for a residential home</a></li>
          <li><a href="#">Deferred payment scheme</a></li>
          <li><a href="#">Independent financial advice</a></li>
        </ol>
      </div>
      <div class="section-break-sm"></div>
    </section>

    <section class="mid">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis tortor orci. Morbi vestibulum tortor elit, ac semper ipsum cursus quis. Nam lacinia eget nulla vel scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ultricies posuere dapibus. Quisque vel massa porttitor, bibendum orci id, hendrerit felis. Praesent consectetur ipsum maximus, condimentum enim eget, porttitor tortor. Proin sodales facilisis laoreet. Nam vitae pharetra metus, sit amet venenatis tortor.</p>
      <ul class="list list-bullet">
        <li>item number 1</li>
        <li>item number 2</li>
        <li>item number 3</li>
      </ul>
      <p><a href="#">This is a link</a></p>
      <h2>Heading 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis tortor orci. Morbi vestibulum tortor elit, ac semper ipsum cursus quis. Nam lacinia eget nulla vel scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum <a href="#">ultricies posuere</a> dapibus. Quisque vel massa porttitor, bibendum orci id, hendrerit felis. Praesent consectetur ipsum maximus, condimentum enim eget, porttitor tortor. Proin sodales facilisis laoreet. Nam vitae pharetra metus, sit amet venenatis tortor.</p>
      <table>
      <caption>2018 care charges</caption>
        <thead>
          <tr>
            <th>Type of service</th>
            <th>Frequency</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Home Support Services (normal hours) one-to-one</td>
            <td>Hourly</td>
            <td>£17.04</td>
          </tr>
          <tr>
            <td>Day Care</td>
            <td>Per session</td>
            <td>£10.73</td>
          </tr>
          <tr>
            <td>Day Care with transport</td>
            <td>Per session</td>
            <td>£12.20</td>
          </tr>
        </tbody>
      </table>
      <h3>Heading 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mattis tortor orci. Morbi vestibulum tortor elit, ac semper ipsum cursus quis. Nam lacinia eget nulla vel scelerisque.</p>
    </section>

    <section class="loose">
      <nav class="pagination">
        <ul>
          <li class="prev">
            <a href="#">
              <span class="pagination-item">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>Previous
              </span>
              <span>Paying for care and support</span>
            </a>
          </li>
          <li class="next">
            <a href="#">
              <span class="pagination-item">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>Next
              </span>
              <span>Personal budget</span>
            </a>
          </li>
        </ul>
      </nav>
    </section>

    <section class="section mid">
      <a class="print-link">Print this page</a>
    </section>
  </div>

  <aside class="side">
    <div class="side-nav" role="">
      <h3>Adult Social Care</h3>
      <nav role="" aria-labelledby="">
        <ul>
          <li><a href="#">Report abuse or neglect</a></li>
          <li><a href="#">Adult Social Care: step by step</a></li>
          <li><a href="#">Looking after someone</a></li>
          <li class="active"><a href="#">Paying for care</a></li>
          <li><a href="#">Supported housing and care home options</a></li>
          <li><a href="#">Blue Badge</a></li>
          <li><a href="#">Living independently at home</a></li>
        </ul>
      </nav>
    </div>
  </aside>


</main>

{% endblock %}
