{% extends "layout.html" %}
{% block page_title %}
  Join the library
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="libraries">Libraries</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-full">
    <div class="column-full">
      <h1 class="heading-xlarge">Join the library</h1>


<!-- In-page navigation -->

        <div class="navigation-container small">
          <p>
            Contents:
          </p>
          <ol class="list list-number">
            <li>Join the library</li>
            <li><a href="#">Library cards and membership types</a></li>
            <li><a href="#">Computers and WiFi</a></li>
            <li><a href="#">Accessing library buildings and facilities</a></li>
            <li><a href="#">Charges, fees and exemptions</a></li>
            <li><a href="#">Music scores and play sets</a></li>
          </ol>
        </div>
      </div>
    </div>

<!-- Body copy -->

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="navigation-break"></div>
      <p>Joining the library service is free and easy. It gives you access to:</p>
      <ul class="list list-bullet">
        <li>Books,e-books and e-magazines</li>
        <li>Online courses and resources</li>
        <li>Library computers and Wifi</li>
      </ul>
      <p>
        You don’t need any identification to join the library.
      </p>
      <h2 class="heading-medium" id="subsection-title">Join online</h2>
      <p>Completing the online registration form will give you an ‘Adult temp’ membership. You will receive a registration number by email and will be able to:</p>
      <ul class="list list-bullet">
        <li>search the library catalogue immediately</li>
        <li>reserve items that can be sent to any library in Essex</li>
      </ul>
      <p><a href="#">Join online</a></p>
      <h2 class="heading-medium" id="subsection-title">Join at the library</h2>
      <p>Take your registration number into your local library if you want to:</p>
      <ul class="list list-bullet">
        <li>collect your library card and any reserved items</li>
        <li>change your <a href="#">membership type</a> - if child, young adult, memory, access or friends and family membership is more appropriate</li>
        <li>take advantage of the full range of library services, including e-books and e-magazines.</li>
      </ul>
      <p><a href="#">Find your local library</a></p>
      <p>Pop along to your local library where you will be given membership and your library card.<br><strong>Please note:</strong> You can’t join the library over the phone.</p>
      <h2 class="heading-medium" id="subsection-title">Lost library card or reactivate account</h2>
      <p>
        You will need to come into a library to get a replacement card or to reactivate your account.
      </p>
      <p>
        You must bring identification with your name and address on it such as a driving licence, passport or recent utility bill.
      </p>
      <p>
        There is a charge of £1.05 for replacing lost or damaged library cards.
      </p>
      <h2 class="heading-medium" id="subsection-title">Update your account details</h2>
      <p>You can update your contact details or password by <a href="https://librarycatalogue.essex.gov.uk/iguana/www.main.cls?surl=useractivities" target="_top">logging into your account</a> on the <a href="https://librarycatalogue.essex.gov.uk/iguana/www.main.cls?surl=essexlibraries" target="_top">Essex Libraries catalogue</a>.</p>
    </div>

<!-- Related links -->

    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="financial-assessment">Start your financial assessment</a></li>
            <li><a href="care-charges">Care charges</a></li>
            <li><a href="ways-to-pay">Ways to pay for your care</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>


</main>
{% endblock %}
