{% extends "layout.html" %}
{% block page_title %}
  Renew, reserve or return an item
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="libraries">Libraries</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">Renew, reserve or return an item</h1>


<!-- In-page navigation -->

        <div class="navigation-container small">
          <p>
            Contents:
          </p>
          <ol class="list list-number">
            <li>Renew a library item</li>
            <li><a href="#">Reserve a library item</a></li>
            <li><a href="#">Return a library item</a></li>
            <li><a href="#">What we stock</a></li>
          </ol>
        </div>
      </div>
    </div>

<!-- Body copy -->

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="navigation-break"></div>
      <p>You can renew an item up to seven times. After this it must be returned to a library. You might be able to borrow it again if it has not been reserved by someone else.</p>
      <p>You can check the dates your items are due for return and pay any charges by logging into your account.</p>
      <p>You will need to pay a further <a href="/facilities-and-charges/charges-fines-and-exemptions/hire-charges-for-books-cds-and-dvds/" target="_top" title="Hire charges for books, CDs and DVDs">hire charge if you renew CDs or DVDs</a>.</p>
      <p><strong>Remember:</strong> There are library charges for overdue books, CDs and DVDs so make sure that you renew your items if you want to keep them for longer.</p>
      <p><a href="https://librarycatalogue.essex.gov.uk/iguana/www.main.cls?surl=useractivities">Login to your account to renew your library item</a></p>
    </div>

<!-- Related links -->

    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Overdue charges and exemptions</a></li>
            <li><a href="#">Find a book, CD or DVD</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>


</main>
{% endblock %}
