{% extends "layout.html" %}
{% block page_title %}
  Libraries
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
  </ol>
</div>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">Libraries</h1>
    </div>
  </div>


<!-- Primary links -->

    <ul class="primary-link-box">
      <li class="primary-link-list">
        <div class="primary-link-content">
          <h3 class="heading-small"><a href="join-library">Join the library</a></h3>
            <p>Become an Essex Libraries member with our free and easy online sign up
            </p>
        </div>
      </li>
      <li class="primary-link-list">
        <div class="primary-link-content">
          <h3 class="heading-small"><a href="https://librarycatalogue.essex.gov.uk/iguana/www.main.cls?surl=essexlibraries">Search the library catalogue</a></h3>
          <p>
            Search the catalogue for books, CDs, DVDs, audio books and e-books
          </p>
        </div>
      </li>
      <li class="primary-link-list">
        <div class="primary-link-content">
          <h3 class="heading-small"><a href="library-renew">Renew, reserve or return an item</a></h3>
          <p>Log in to your library account to manage your borrowed items</p>
        </div>
      </li>
    </ul>



<!-- Secondary links -->

<div class="grid-row">
  <div class="column-full">
    <ul>
      <li class="secondary-link">
        <h3 class="heading-small"><a href="#">Library locations and opening times</a></h3>
        <p>There are over 70 libraries in Essex - find a library near you</p>
      </li>
      <li class="secondary-link">
        <h3 class="heading-small"><a href="#">Facilities and charges</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia</p>
      </li>
      <li class="secondary-link">
        <h3 class="heading-small"><a href="#">Mobile library service</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia</p>
      </li>
    </ul>
  </div>
  <div class="column-full">
    <div class="toggle-b">
      <div class="js-hidden content" id="tab-one">
        <ul>
          <li class="secondary-link">
            <h3 class="heading-small"><a href="#">Space hire</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia</p>
          </li>
          <li>
            <h3 class="heading-small"><a href="#">Volunteering with libraries</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vel, quia</p>
          </li>
        </ul>
      </div>
      <div data-target="tab-one">
        <input class="checkbox" id="toggle-one" type="checkbox">
        <label class="show" for="toggle-one">See all Library services</label>
        <label class="hide" for="toggle-one">Hide</label>
      </div>
    </div>
  </div>
</div>



  <!-- News -->

    <div class="section-break"></div>

    <div class="grid-row">
      <div class="column-full">
        <h2 class="heading-large">Related news</h2>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-third">
        <img class="news-img" src="public/images/black-history-month-2018.jpg" />
        <h3 class="heading-small"><a href="#">Black History Month</a></h3>
        <p class="small">3 October 2018</p>
        <p>Travel from Dominica to Nigeria with our list of recommended reads to celebrate Black History Month.</p>
      </div>
      <div class="column-third">
        <h3 class="heading-small"><a href="#">National Libraries Week 8-13 October 2018</a></h3>
        <p class="small">1 October 2018</p>
        <p>This year's Libraries Week is all about wellbeing. Learn about 6 library services that help people stay connected and feel happy.</p>
      </div>
      <div class="column-third">
        <h3 class="heading-small"><a href="#">Online payment for charges now available</a></h3>
        <p class="small">20 September 2018</p>
        <p>Customers now have the convenience of paying library charges online - from a home computer, tablet or smartphone.</p>
      </div>
      <div class="column-third">
        <h3 class="heading-small"><a href="#">Become a library ambassador</a></h3>
        <p class="small">5 September 2018</p>
        <p>Are you creative? Persuasive? A people person? Aged 13 to 18? If yes, then why not become a library ambassador?</p>
      </div>
    </div>

    <div class="signup">
      <div id="content">
        <p class="heading-medium">
          Get the latest news and updates from Essex Libraries
        </p>
        <form action="/search" method="get" role="search" class="form">
          <div class="form-group">
            <div class="grid-row">
              <div class="column-two-thirds">
                <input type="text" class="form-control" placeholder="Enter your email address" id="full-name" name="name" {{ checked("index", "name") }} required>
              </div>
              <div class="column-third">
                <input type="submit" class="button subscribe" value="Subscribe">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>



</main>



{% endblock %}
