{% extends "layout.html" %}
{% block page_title %}
  Looking after someone
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="adult-social-care">Adult Social Care</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">Looking after someone</h1>
      <p>A 'carer' is someone who - without being paid - regularly looks after, helps or supports someone who wouldn't be able to manage everyday life without their help.</p>
      <p>You may be caring for a partner, relative, friend or neighbour.</p>
      <p>The first point of contact for carers in Essex who need some extra help is Carers FIRST.</p>
      <p>Call them on 0300 303 1555 or fill out your details on the online form and someone from their team will aim to contact you within 5 working days.</p>
      <p>
        <a class="button button-start" href="#" role="button">Contact Carers FIRST</a>
      </p>
    </div>
  </div>
  <div class="grid-row border">
    <div class="column-one-third">
      <h3 class="heading-small"><a href="#">Caring for an adult</a></h3>
      <p>
        Support for people caring for a partner, relative, friend or neighbour over the age of 18
      </p>
    </div>
    <div class="column-one-third">
      <h3 class="heading-small"><a href="#">Parent carers of disabled children</a></h3>
      <p>
        Get help if you look after a child with disabilities, a long-term health condition, or learning difficulties
      </p>
    </div>
    <div class="column-one-third">
      <h3 class="heading-small"><a href="#">Help for young carers</a></h3>
      <p>
        Support for people under 18 who look after someone who is ill or disabled, or uses drugs or alcohol
      </p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium" id="subsection-title"></h2>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-one-third">
      <h3 class="heading-small"><a href="#">Carer's rights in the workplace</a></h3>
      <p>If you are a working carer, you have rights to paid and unpaid time off to care for people who depend on you
      </p>
    </div>
    <div class="column-one-third">
      <h3 class="heading-small"><a href="financial-support-carers">Financial support for carers</a></h3>
      <p>See what financial help is available to you as a carer</p>
    </div>
    <div class="column-one-third">
      <h3 class="heading-small"><a href="#">Emotional support for carers</a></h3>
      <p>Get support if you are feeling exhausted, overwhelmed, or stressed</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
