{% extends "layout.html" %}
{% block page_title %}
  Needs assessment
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  <a href="financial-assessment-eligibility" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/" method="get" class="form">
        <div class="govuk-box-highlight">
          <h1 class="heading-xlarge">
            Get help and support
          </h1>
          <p class="font-large">
            Contact Adult Social Care
          </p>
        </div>
        <p>
          You told us that you haven't spoken to a social worker about your care and support needs.
        </p>
        <p>
          You must be assessed by a social worker as having care needs before you can complete a financial assessment.
        </p>
        <p>
          If you are finding it difficult to look after yourself and manage everyday tasks, you can contact us for an informal chat about your care and support needs.
        </p>
        <h2 class="heading-medium">
          Contact Adult Social Care
        </h2>
        <p>Telephone: 0345 603 7630
        <br />Text phone: 0345 758 5592
        </p>
        <h2 class="heading-medium">
          Care needs assessment
        </h2>
        <p>
          We might arrange for a social worker or occupational therapist to visit you to do a care needs assessment. They will speak to you in more detail about your care and support needs and advise you on the next steps.
        </p>
        <h2 class="heading-medium">
          Care and support plan
        </h2>
        <p>
          If you are assessed as needing social care and support, a social care worker will agree a care and support plan with you. The plan gives details of:
        </p>
        <ul class="list list-bullet">
          <li>
            how your support will be provided
          </li>
          <li>
            how much it costs
          </li>
          <li>
            who will be paying for it
          </li>
        </ul>
        <p>
          You will then be aksed to complete a financial assessment.
        </p>
        <p>If you are not eligible for support, we will tell you about organisations that can help you.</p>
      </form>
      <h2 class="heading-medium">Related content</h2>
      <div class="panel">
        <ul class="list">
          <li>
            <a href="social-care-step-by-step">Adult Social Care: step by step</a>
          </li>
          <li>
            <a href="looking-after-someone">Looking after someone</a>
          </li>
          <li>
            <a href="#">Directory of support services</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}
