{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">

  <a class="govuk-c-back-link" href="/url/of/previous/page">Back</a>

  <main role="main" class="govuk-o-main-wrapper">

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item">

        <form class="form" action="/form_action_attribute_name" method="post">

          <div class="govuk-o-form-group">
            <fieldset class="govuk-c-fieldset">
              <legend class="govuk-c-fieldset__legend">
                <p class="aida">{{ a_1 }}</p>
              </legend>
              <div class="govuk-c-radios">
                <div class="govuk-c-radios__item">
                  <input class="govuk-c-radios__input" name="option" type="submit" value="this_page">
                  <label class="govuk-c-label govuk-c-radios__label" for="option-1">
                  {{ this_button }}
                </label>
                </div>
                <div class="govuk-c-radios__item">
                  <input class="govuk-c-radios__input" name="option" type="submit" value="that_page">
                  <label class="govuk-c-label govuk-c-radios__label" for="option-2">
                  {{ that_button }}
                </label>
                </div>
              </div>
          </fieldset>
          </div>

          <!-- <input class="govuk-c-button" type="submit" value="Continue"> -->

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
