{% extends "layout.html" %}
{% block page_title %}
  Pay your care invoice
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="adult-social-care">Adult Social Care</a>
    </li>
    <li>
      <a href="paying-for-care">Paying for care</a>
    </li>
    <li>
      <a href="paying-for-care">Care at home</a>
    </li>
    <li>
      <a href="ways-to-pay">Ways to pay</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Pay your care invoice
      </h1>
      <p>
        <a href="https://essex.paris-epayments.co.uk/essex/payments/sales/launchinternet.aspx">Pay your invoice online</a> with a debit or credit card.
      </p>
      <p>
        You can also pay by:
      </p>
      <ul class="list list-bullet">
        <li>
          Direct Debit
        </li>
        <li>
          Bank transfer
        </li>
        <li>
          Telephone (on the number below)
        </li>
        <li>
          Cheque
        </li>
      </ul>
      <p>
        If you are having difficulties paying, please contact the income collection team as soon as possible to discuss what options are available to you.
      </p>
      <p>
        If you don’t pay your invoice in full, your care won’t stop but we will take action to recover the amount you owe. This can lead to increasing debts and may affect your credit rating in the future.
      </p>
      <h2 class="heading-medium">
        Contact the Income Collection Team
      </h2>
      <p>
        Contact us to discuss payment options or to set up a Direct Debit. Please tell us your customer account number when you contact us.
      </p>
      <ul class="list">
        <li>
          Email: <a href="mailto:income.collection@essex.gov.uk">income.collection@essex.gov.uk</a>
        </li>
        <li>
          Telephone: 03330 135860 Option 1
        </li>
        <li>
          Text phone: 0845 758 5592
        </li>
        <li>
          Office hours: Monday to Friday 8:30am to 4:30pm
        </li>
      </ul>
  </div>
</main>
{% endblock %}