{% extends "layout.html" %}
{% block page_title %}
  Paying for care and support
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
  </ol>
</div>
  <div class="grid-row">
    <div class="column-full">
      <h1 class="heading-xlarge">Paying for care and support</h1>
      <p>
        If we provide you with social care services you may need to contribute towards the cost of this care.
      </p>
      <p>
        Find out more about social care costs, how we assess your ability to pay towards them and where to get support and advice.
      </p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-quarter">
      <h3 class="heading-small"><a href="financial-checker">Financial Checker</a></h3>
      <p>
        Estimate your likely contribution to the cost of your care
      </p>
    </div>
    <div class="column-quarter">
      <h3 class="heading-small"><a href="financial-assessment">Financial Assessement</a></h3>
      <p>
        Complete an assessment of your income, savings and expenditure so that we can work out how much you will need to pay
      </p>
    </div>
    <div class="column-quarter">
      <h3 class="heading-small"><a href="how-to-pay">How to pay</a></h3>
      <p>
        Consider your options for managing your care costs including Direct Payments, a managed budget or a combination of both
      </p>
    </div>
    <div class="column-quarter">
      <h3 class="heading-small"><a href="change-circumstances">Change of circumstances</a></h3>
      <p>
        Tell us as soon as can about changes to your personal details, health or finances
      </p>
    </div>
  </div>
</main>
{% endblock %}