{% extends "layout.html" %}
{% block page_title %}
  Paying for care and support
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="adult-social-care">Adult Social Care</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Paying for care and support</h1>
    </div>
  </div>
  <div class="grid-row border">
    <div class="column-one-third">
      <h3 class="heading-small"><a href="care-at-home">Paying for care and support at home</a></h3>
      <p>
        Find out how to manage and pay for care and support when you live at home
      </p>
    </div>
    <div class="column-one-third">
      <h3 class="heading-small"><a href="https://www.google.com/url?q=https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/charging-for-care-services/Pages/paying-for-a-care-home.aspx&sa=D&ust=1530804815121000&usg=AFQjCNGGYXdE-gLV5fuGcKeZ6cFKzsDXbw">Paying for care in a residential home</a></h3>
      <p>
        Consider your options for managing the costs of moving to a residential home
      </p>
    </div>
    <div class="column-one-third">
      <h3 class="heading-small"><a href="change-circumstances">Change of circumstances</a></h3>
      <p>
        Tell us as about changes to your personal details, health or finances
      </p>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-full">
      <h2 class="heading-medium" id="subsection-title"></h2>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-half">
      <h3 class="heading-small"><a href="financial-assessment">Financial assessment</a></h3>
      <p>Complete your financial assessment online so that we can work out how much you will need to pay towards your care</p>
    </div>
    <div class="column-half">
      <h3 class="heading-small"><a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/charging-for-care-services/Pages/Independent-financial-advice.aspx">Independent financial advice</a></h3>
      <p>Talk to an independent expert about your finances to be sure you’re getting accurate and impartial advice</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}