{% extends "layout.html" %}
{% block page_title %}
  Primary school places
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="schools">Schools</a>
    </li>
    <li>
      <a href="school-admissions">School admissions</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Primary school places</h1>


<!-- In-page navigation -->

        <div class="navigation-container small">
          <p>
            Contents:
          </p>
          <ol class="list">
            <li>- <a href="school-admissions">School admissions</a></li>
            <li>- Primary school places</li>
            <li>- <a href="#">Junior school places</a></li>
            <li>- <a href="#">Secondary school places</a></li>
            <li>- <a href="#">Mid-year admission</a></li>
            <li>- <a href="#">Admission appeals</a></li>
          </ol>
        </div>
      </div>
    </div>

<!-- Body copy -->

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="navigation-break"></div>
        <p>You can apply for a September 2019 primary (Reception) school place between 12 November 2018 and 15 January 2019.</p>
        <p>Offers of places will be sent on 16 April 2019.</p>
      <h2 class="heading-medium">Apply for a primary school place</h2>
      <p>Before you apply you should:</p>
      <ul class="list list-bullet">
        <li>check you live in the Essex administrative area</li>
        <li>read the admissions booklet and leaflet (available from 12 November 2018) </li>
      </ul>
      <p><a href="#">Apply for a primary school place</a></p>
      <h2 class="heading-medium">Change your application</h2>
      <p>If you make any changes to your application, you must re-submit the form by the closing date.</p>
      <p>After the closing date you will only be able to make changes to your address, not your preferences.</p>
    </div>

<!-- Related links -->

    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Travel to school</a></li>
            <li><a href="#">School term dates and emergency closures</a></li>
            <li><a href="#">Special educational needs (SEN) placement process</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>


</main>
{% endblock %}
