{% extends "layout.html" %}

{% block page_title %}
  Example - Branching
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Residential homes
      </h1>
      <ul class="list contents">
        <li>
          <a href="how-to-pay">How to pay</a>
        </li>
        <li>
          <a href="care-at-home">Care at home</a>
        </li>
        <li>
          Residential homes
        </li>
      </ul>
      <h2 class="heading-medium">
        Paying for a care home
      </h2>
      <p>
        If you move to a care home, we will carry out a financial assessment to work out if you need to pay for your care home costs or if you are eligible for financial support. This depends on how much you have in savings and assets, such as property and investments.
      </p>
      <p>
        If your savings and assets are:
      </p>
      <ul class="list list-bullet">
        <li>
          less than £23,250, you will be eligible for means-tested support to help pay for your care
        </li>
        <li>
          more than £23,250, you will have to pay for all of your care
        </li>
      </ul>
      <p>
        We will work this out through a <a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/charging-for-care-services/Pages/financial-assessment-process.aspx">financial assessment.</a>
      </p>
      <p>
        You can estimate your care costs with our <a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/charging-for-care-services/Documents/Paying-for-Adult-Social-Care-calculator.pdf">paying for care calculator.</a>
      </p>
      <h2 class="heading-medium">
        Care home charges
      </h2>
      <p>
        You will need to speak to your social worker to find out about your care home costs.
      </p>
      <p>
        If you go into hospital you will still need to pay your contribution towards the cost of your care home for the first 6 weeks.
      </p>
      <h2 class="heading-medium">
        Ways to pay for your care
      </h2>
      <p>
        There are different ways you can fund your care. You could:
      </p>
      <ul class="list list-bullet">
        <li>
          Use savings and/or income from investments
        </li>
        <li>
          Rent your property
        </li>
        <li>
          Sell your property
        </li>
        <li>
          Take a <a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/charging-for-care-services/Pages/Deferred-payments.aspx">deferred payment agreement</a>
        </li>
        <li>
          Purchase an insurance policy that pays for your care
        </li>
      </ul>
      <p>
        We recommend you seek <a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/charging-for-care-services/Pages/Independent-financial-advice.aspx">independent financial advice</a> before making a decision.
      </p>
      <h2 class="heading-medium">
        What is the deferred payment scheme?
      </h2>
      <p>
        The universal deferred payment scheme means that people should not be forced to sell their home in their lifetime to pay for their care
      </p>
      <p>
        By entering into a deferred payment agreement, we agree to do one of the following:
      </p>
      <ul class="list list-bullet">
        <li>
          defer the payment of charges due to us from you, for the costs of meeting your needs in a care home or supported living accommodation
        </li>
        <li>
          defer the repayment of a loan to you in instalments, to cover the costs of your care and support in a care home or supported living accommodation
        </li>
      </ul>
      <p>
        Deferring payment can help people to delay the need to sell their home, and provides peace of mind during a time that can be challenging for them and their loved ones as they make the transition into care.
      </p>
      <p>
        A deferral can last until death. However, many people choose to use a deferred payment agreement as a ‘bridging loan’ to give them time and flexibility to sell their home when they choose to do so. This is entirely up to you to decide.
      </p>
      <h2 class="heading-medium">
        Who is eligible for deferred payments?
      </h2>
      <p>
        You should be eligible if:
      </p>
      <ul class="list list-bullet">
        <li>
          You own your own home
        </li>
        <li>
          You live in or are moving to a care home on a permanent basis
        </li>
        <li>
          You have less than £23,250 in capital and savings
        </li>
        <li>
          Nobody else, such as a spouse, partner or dependent child needs to continue living in your home
        </li>
      </ul>
      <p>
        You will need to speak to our <a href="https://www.essex.gov.uk/Health-Social-Care/Health-and-social-care-for-adults/charging-for-care-services/Pages/How-to-pay-.aspx#income-team">Income Collection Team</a> to discuss your circumstances to see if you are eligible for the deferred payment scheme.
      </p>
      <p>
        See the <a href="https://www.gov.uk/government/publications/care-act-statutory-guidance/care-and-support-statutory-guidance#Chapter9">Care Act guidance on deferred payments.</a>
      </p>
      <nav class="pagination">
        <ul>
          <li class="prev">
            <a href="care-at-home">
              <span class="pagination-item">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                Previous
              </span>
              <span>Care at Home</span>
            </a>
          </li>
        </ul>
      </nav>
  </div>
</main>
{% endblock %}
