{% extends "layout.html" %}
{% block page_title %}
  Self funded care
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  <a href="savings-and-investment" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/" method="get" class="form">
        <h1 class="heading-large">
          Self funded care
        </h1>
        <p>
          You have more than £23,250. This means that you will be assessed as being able to meet the full cost of your care.
        </p>
        <div class="form-group">
          <a href="/" class="button">Finish</a>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}