{% extends "layout.html" %}

{% block page_title %}
  Example - Branching
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-full">

      <form action="/" method="get" class="form">

        <h1 class="heading-large">
          Self funded care
        </h1>

        <p>
          You have more than £23,250. This means that you will be assessed as being able to meet the full cost of your care.
        </p>

        <div class="form-group">
          <a href="/" class="button">Finish</a>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
