{% extends "layout.html" %}

{% block page_title %}
  Adult Social Care: step by step
{% endblock %}

{% block content %}

<div id="global-header-bar"></div>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      <h1 class="heading-large">
        Adult Social Care: step by step
      </h1>
      <p>
        Check what to do if you are finding it difficult to look after yourself and manage everyday tasks.
      </p>

        <div class="tab-group">
          <div class="tab">
          <input id="tab-one" type="checkbox" name="tabs">
            <label for="tab-one" class="heading-medium"><a href"#">1. Check what help is available <br/><span class="font-xsmall show-content">show</span></a></label>
            <div class="tab-content">
              <p>Lorem ipsum dolor sit amet, at malorum contentiones his, soluta dignissim his cu.</p>
              <p><a href="#">Find out how to live independently at home</a> with information on home adaptations, walking and mobility aids and meal services.</p>
              <p><a href="#">Search the directory of services</a> to find independent support providers.</p>
              <p><a href="#">Contact Adult Social Care</a> for an informal chat about your care and support needs or to arrange a needs assessment.</p>
            </div>
        </div>
        <div class="tab">
          <input id="tab-two" type="checkbox" name="tabs">
            <label for="tab-two" class="heading-medium"><a href"#">2. Get your care needs assessed <br/><span class="font-xsmall show-content">show</span></a></label>
            <div class="tab-content">
              <p>Lorem ipsum dolor sit amet, at malorum contentiones his, soluta dignissim his cu. Elit everti splendide ea vim, id appareat detraxit mel. Quod iisque ex per. Dicunt meliore voluptaria nam cu. Veri fuisset vix ne.</p>
              <p><a href="#">Find out about a care needs assessment</a></p>
              <p><a href="#">Change your care needs assessment appointment</a></p>
              <p><a href="#">Not eligible for care from the council?</a></p>
            </div>
        </div>
        <div class="tab">
          <input id="tab-three" type="checkbox" name="tabs">
            <label for="tab-three" class="heading-medium"><a href"#">3. Care and support plan <br/><span class="font-xsmall show-content">show</span></a></label>
            <div class="tab-content">
              <p>Lorem ipsum dolor sit amet, at malorum contentiones his, soluta dignissim his cu. Elit everti splendide ea vim, id appareat detraxit mel.</p>
              <p><a href="#">Text about support plan</a></p>
            </div>
        </div>
        <div class="tab">
          <input id="tab-four" type="checkbox" name="tabs">
            <label for="tab-four" class="heading-medium"><a href"#">4. Check eligibility for financial support <br/><span class="font-xsmall show-content">show</span></a></label>
            <div class="tab-content">
              <p>Lorem ipsum dolor sit amet, at malorum contentiones his, soluta dignissim his cu. Elit everti splendide ea vim, id appareat detraxit mel.</p>
              <p><a href="#">Text about support plan</a></p>
            </div>
        </div>
        <div class="tab">
          <input id="tab-five" type="checkbox" name="tabs">
            <label for="tab-five" class="heading-medium"><a href"#">5. Arrange care and support <br/><span class="font-xsmall show-content">show</span></a></label>
            <div class="tab-content">
              <p>Lorem ipsum dolor sit amet, at malorum contentiones his, soluta dignissim his cu. Elit everti splendide ea vim, id appareat detraxit mel.</p>
              <p><a href="#">Text about support plan</a></p>
            </div>
        </div>
        <div class="tab">
          <input id="tab-six" type="checkbox" name="tabs">
            <label for="tab-six" class="heading-medium"><a href"#">6. Pay for care <br/><span class="font-xsmall show-content">show</span></a></label>
            <div class="tab-content">
              <p>Lorem ipsum dolor sit amet, at malorum contentiones his, soluta dignissim his cu. Elit everti splendide ea vim, id appareat detraxit mel.</p>
              <p><a href="#">Text about support plan</a></p>
            </div>
        </div>
        <div class="tab">
          <input id="tab-seven" type="checkbox" name="tabs">
            <label for="tab-seven" class="heading-medium"><a href"#">7. Review of care needs and financial circumstances <br/><span class="font-xsmall show-content">show</span></a></label>
            <div class="tab-content">
              <p>Lorem ipsum dolor sit amet, at malorum contentiones his, soluta dignissim his cu. Elit everti splendide ea vim, id appareat detraxit mel.</p>
              <p><a href="#">Text about support plan</a></p>
            </div>
        </div>
      </div>

    </div>
  </div>
</main>

{% endblock %}
