{% extends "layout.html" %}
{% block page_title %}
  Get social care help
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="adult-social-care">Adult Social Care</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Get social care help
      </h1>
      <p>
        If you are finding it difficult to look after yourself and manage everyday tasks, you can contact us for an informal chat about your care and support needs.
      </p>
      <h2 class="heading-medium">
        Contact Adult Social Care
      </h2>
      <p>Telephone: 0345 603 7630
      <br />Text phone: 0345 758 5592
      </p>
      <h2 class="heading-medium">
        Care needs assessment
      </h2>
      <p>
        We might arrange for a social worker or occupational therapist to visit you to do a care needs assessment. They will speak to you in more detail about your care and support needs and advise you on the next steps.
      </p>
      <h2 class="heading-medium">
        Care and support plan
      </h2>
      <p>
        If you are assessed as needing social care and support, a social care worker will agree a care and support plan with you. The plan gives details of:
      </p>
      <ul class="list list-bullet">
        <li>
          how your support will be provided
        </li>
        <li>
          how much it costs
        </li>
        <li>
          who will be paying for it
        </li>
      </ul>
      <p>If you are not eligible for support, Essex County Council will tell you about organisations that can help you.</p>
      <h2 class="heading-medium">Related content</h2>
      <div class="panel">
        <ul class="list">
          <li>
            <a href="#">Looking after someone</a>
          </li>
          <li>
            <a href="paying-for-care">Paying for care and support</a>
          </li>
          <li>
            <a href="#">Directory of support services</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Looking after someone</a></li>
            <li><a href="paying-for-care">Paying for care and support</a></li>
            <li><a href="#">Directory of support services</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</main>
{% endblock %}
