{% extends "layout.html" %}
{% block page_title %}
  School term dates
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="schools">Schools</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">School term dates</h1>

      </div>
    </div>

<!-- Body copy -->

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <p class="font-medium"><strong class="bold">The next school holiday in Essex is</strong></p>
        <h2 class="font-xlarge"><strong class="bold">
          22 to 26 October 2018</strong> <br>
          <strong class="bold font-medium">Autumn half term</strong>
        </h2>
      </div>
      <h2 class="heading-medium">Autumn term times 2018</h2>
      <p>Tuesday 4 September 2018 to Wednesday 19 December 2018</p>
      <p>Autumn half term is 22 October to 26 October 2018</p>
      <h2 class="heading-medium">Spring term times 2019</h2>
      <p>Thursday 3 January 2019 to Friday 5 April 2019</p>
      <p>Spring half term is 18 February to 22 February </p>
      <h2 class="heading-medium">Summer term times 2019</h2>
      <p>Tuesday 23 April 2019 to Wednesday 24 July 2019</p>
      <p>May Bank Holiday in on 6 May</p>
      <p>Summer half term is 27 May to 31 May</p>
    </div>

<!-- Related links -->

    <div class="column-third">
      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="school-admissions">School admissions</a></li>
            <li><a href="#">Travel to school</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>


</main>
{% endblock %}
