{% extends "essex_main_template.html" %}

{% block content %}

<main id="content">

  <section class="section tight">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="adult-social-care">Adult Social Care</a></li>
      </ol>
    </div>
  </section>

  <section class="section mid">
    <h1>Page title</h1>
  </section>

  <section class="section tight">
    <ul class="link-boxes">
      <li class="link-box">
        <div class="link-content">
          <h2><a href="#">Report abuse or neglect</a></h2>
            <p>How to spot signs of abuse or neglect, what you should do, and how to report it
            </p>
        </div>
      </li>
      <li class="link-box">
        <div class="link-content">
          <h2><a href="social-care-step-by-step">Adult Social Care: step by step</a></h2>
          <p>
            Not sure where to start? Check what help is available and who to speak to at each stage of the care and support process
          </p>
        </div>
      </li>
      <li class="link-box">
        <div class="link-content">
          <h2><a href="looking-after-someone">Looking after someone</a></h2>
          <p>Financial and practical support for carers, people who look after a friend or family member</p>
        </div>
      </li>
    </ul>
    <div class="preview-list">
      <div class="content js-hidden" id="tab-one" aria-hidden="true">
        <ul>
          <li>
            <a href="#">Preview</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
          <li>
            <a href="#">Preview</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
        </ul>
      </div>
      <div data-target="tab-one">
        <input class="checkbox" id="toggle-one" type="checkbox" aria-controls="tab-one" aria-expanded="false">
        <label class="show" for="toggle-one">Show</label>
        <label class="hide" for="toggle-one">Hide</label>
      </div>
    </div>
    <div class="section-break-lg"></div>
  </section>

  <section>
    <h2>Heading 2</h2>
    <div class="preview-list">
      <div class="content js-hidden" id="tab-one" aria-hidden="true">
        <ul>
          <li>
            <a href="#">Preview</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
          <li>
            <a href="#">Preview</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
        </ul>
      </div>
      <div data-target="tab-one">
        <input class="checkbox" id="toggle-one" type="checkbox" aria-controls="tab-one" aria-expanded="false">
        <label class="show" for="toggle-one">Show</label>
        <label class="hide" for="toggle-one">Hide</label>
      </div>
    </div>
    <div class="section-break-lg"></div>
  </section>

  <section class="section loose">
    <h2>Heading 2</h2>
      <div class="previews">
        <div class="preview">
          <img src="/public/images/news.jpg">
          <h4><a href="#">Preview heading with image above</a></h4>
          <p>Preview copy explaining what content it contains.</p>
          <p class="meta">3 October 2018</p>
        </div>
        <div class="preview">
          <img src="/public/images/news.jpg">
          <h4><a href="#">Preview heading with image above</a></h4>
          <p>Preview copy explaining what content it contains.</p>
          <p class="meta">3 October 2018</p>
        </div>
        <div class="preview">
          <img src="/public/images/news.jpg">
          <h4><a href="#">Preview heading with image above</a></h4>
          <p>Preview copy explaining what content it contains.</p>
          <p class="meta">3 October 2018</p>
        </div>
      </div>
      <div class="signup">
        <h3>
          Get the latest news and information about your council services
        </h3>
        <form action="/search" method="get" role="search" class="form">
          <div class="group">
            <div class="signup-input">
              <input type="text" class="form-control" placeholder="Enter your email address" id="full-name" name="name" required="">
            </div>
            <div class="signup-button">
              <input type="submit" class="button subscribe" value="Subscribe">
            </div>
          </div>
        </form>
      </div>
  </section>

</main>

{% endblock %}
