{% extends "essex_main_template.html" %}

{% block content %}

<main id="content">

  <section class="tight">
    <div class="breadcrumbs">
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="adult-social-care">Adult Social Care</a></li>
      </ol>
    </div>
  </section>

  <div class="container">
    <section class="section mid">
      <h1>Page title</h1>
    </section>

    <section class="section tight">
      <ul class="link-boxes">
        <li class="link-box">
          <div class="link-content">
            <h2><a href="#">Link box</a></h2>
              <p>Link box copy explaining what content it contains
              </p>
          </div>
        </li>
        <li class="link-box">
          <div class="link-content">
            <h2><a href="#">Link box</a></h2>
              <p>Link box copy explaining what content it contains
              </p>
          </div>
        </li>
        <li class="link-box">
          <div class="link-content">
            <h2><a href="#">Link box</a></h2>
              <p>Link box copy explaining what content it contains
              </p>
          </div>
        </li>
      </ul>
    </section>

    <section class="section tight">
      <div class="preview-list">
        <ul>
          <li>
            <a href="#">Preview</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
          <li>
            <a href="#">Preview</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
          <li>
            <a href="#">Preview</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
        </ul>
        <div class="js-hidden" id="tab-one" aria-hidden="true">
          <ul>
            <li>
              <a href="#">Preview</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
            <li>
              <a href="#">Preview</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
          </ul>
        </div>
        <div data-target="tab-one">
          <input class="checkbox" id="toggle-one" type="checkbox" aria-controls="tab-one" aria-expanded="false">
          <label class="show" for="toggle-one">Show</label>
          <label class="hide" for="toggle-one">Hide</label>
        </div>
      </div>
      <div class="section-break-lg"></div>
    </section>
    
    <section class="section tight">
      <h2>Guidance and legislation</h2>
      <div class="preview-list">
        <ul>
          <li>
            <a href="#">Preview</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
          <li>
            <a href="#">Preview</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
          <li>
            <a href="#">Preview</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
        </ul>
        <div class="js-hidden" id="tab-two" aria-hidden="true">
          <ul>
            <li>
              <a href="#">Preview</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
            <li>
              <a href="#">Preview</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></li>
          </ul>
        </div>
        <div data-target="tab-two">
          <input class="checkbox" id="toggle-two" type="checkbox" aria-controls="tab-two" aria-expanded="false">
          <label class="show" for="toggle-two">Show</label>
          <label class="hide" for="toggle-two">Hide</label>
        </div>
      </div>
      <div class="section-break-lg"></div>
    </section>
    </div>
  </div>

  <div class="container">
    <section class="section loose">
      <h2>Latest news</h2>
      <div class="previews">
        <div class="preview">
          <img src="/public/images/news.jpg">
          <h4><a href="#">Preview heading with image above</a></h4>
          <p>Preview copy explaining what content it contains.</p>
          <p class="meta">3 October 2018</p>
        </div>
        <div class="preview">
          <img src="/public/images/news.jpg">
          <h4><a href="#">Preview heading with image above</a></h4>
          <p>Preview copy explaining what content it contains.</p>
          <p class="meta">3 October 2018</p>
        </div>
        <div class="preview">
          <img src="/public/images/news.jpg">
          <h4><a href="#">Preview heading with image above</a></h4>
          <p>Preview copy explaining what content it contains.</p>
          <p class="meta">3 October 2018</p>
        </div>
      </div>
    </section>

    <section class="section loose">
      <div class="signup">
        <h3>
          Get the latest news and information about your council services
        </h3>
        <form action="/search" method="get" role="search" class="form">
          <div class="group">
            <div class="signup-input">
              <input type="text" class="form-control" placeholder="Enter your email address" id="full-name" name="name" required="">
            </div>
            <div class="signup-button">
              <input type="submit" class="button subscribe" value="Subscribe">
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>

</main>

{% endblock %}
