{% extends "layout.html" %}
{% block page_title %}
  Ways to pay
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}
    <li>
      <a href="adult-social-care">Adult Social Care</a>
    </li>
    <li>
      <a href="paying-for-care">Paying for care</a>
    </li>
  </ol>
</div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Ways to pay for your care</h1>

<!-- In-page navigation -->

      <div class="navigation-container small">
        <p>Contents:</p>
          <ol class="list list-number">
            <li><a href="paying-for-care">Paying for care and support</a></li>
            <li><a href="#">Care in a residential home</a></li>
            <li><a href="financial-assessment-explained">Financial assessment explained</a></li>
            <li><a href="personal-budget">Personal budget</a></li>
            <li><a href="care-charges">Care charges</a></li>
            <li>Ways to pay for your care</li>
          </ol>
        </div>
      </div>
    </div>

<!-- Body copy -->

    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="navigation-break"></div>
          <h2 class="heading-medium">Direct payments</h2>
          <p>Direct payments are payments we make to you so you can arrange the care and support we have agreed you need. You can arrange and pay for your own care and support instead of us doing it for you.</p>
          <h3 class="heading-small">How can I get direct payments?</h3>
          <p>If you’re an adult (over 18) and already getting support from us, you can ask for direct payments. Ask your social care worker for information and advice.</p>
          <p>If you're not already getting support from us, you can ask us to complete an assessment to work out how much care and support you need.</p>
          <h2 class="heading-medium">Pay your care invoice</h2>
          <p>
            <a href="https://essex.paris-epayments.co.uk/essex/payments/sales/launchinternet.aspx">Pay your invoice online</a> with a debit or credit card.
          </p>
          <p>
            You can also pay by:
          </p>
          <ul class="list list-bullet">
            <li>
              Direct Debit
            </li>
            <li>
              Bank transfer
            </li>
            <li>
              Telephone (on the number below)
            </li>
            <li>
              Cheque
            </li>
          </ul>
          <p>
            If you are having difficulties paying, please contact the income collection team as soon as possible to discuss what options are available to you.
          </p>
          <p>
            If you don’t pay your invoice in full, your care won’t stop but we will take action to recover the amount you owe. This can lead to increasing debts and may affect your credit rating in the future.
          </p>
      </div>
      <div class="column-third">
        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Related content</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="financial-assessment">Start your financial assessment</a></li>
              <li><a href="#">Independent financial advice</a></li>
              <li><a href="ways-to-pay">Pay your care invoice</a></li>
            </ul>
          </nav>
        </aside>
      </div>
    </div>


    <nav class="pagination">
      <ul>
        <li class="prev">
          <a href="care-charges">
            <span class="pagination-item">
              <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
              </svg>
              Previous
            </span>
            <span>Care charges</span>
          </a>
        </li>
      </ul>
    </nav>

</main>
{% endblock %}
