{% extends "layout.html" %}

{% block page_title %}
  Example - Branching
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-large">
        Financial assessment
      </h1>
      <h1 class="heading-medium">
        What is a financial assessment?
      </h1>
      <p>
        A financial assessment tells us how much you can afford to pay towards your care and support.
      </p>
      <p>
        It looks at your:
      </p>
      <ul class="list list-bullet">
        <li>
          Income – such as pensions and benefits
        </li>
        <li>
          Capital – such as savings, investments, property and land
        </li>
      </ul>
      <p>
        We will not look at the income or property of your partner in the financial assessment.
      </p>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">
        How do I get a financial assessment?
      </h2>
      <p>
        If we agree you have care and support needs we should meet under the Care Act 2014, we will contact you to arrange a financial assessment.
      </p>
      <p>
        You can choose to complete the financial assessment form:
      </p>
      <ul class="list list-bullet">
        <li>
          yourself or ask someone to do it on your behalf
        </li>
        <li>
          by telephone with a member of the financial assessment team (not applicable in all cases)
        </li>
        <li>
          by a face to face visit with a member of the financial assessment team
        </li>
      </ul>
      <p>
        If you choose to complete the form yourself, we recommend you seek independent benefits and financial advice.
      </p>
      <p>
        Find out what you need to tell us in a financial assessment.
      </p>
      <p>
        If you don’t want to complete a financial assessment or tell us your financial circumstances, we will assume you can pay for the full cost of your care and we will charge you that amount.
      </p>
      <p>
        Contact us if you have any questions about your financial assessment.
      </p>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-medium">What is a personal budget?</h2>
      <p>
        Personal budget is the amount of money we have worked out you need to pay for your care and support needs.
      </p>
      <h2 class="heading-medium">How is it used?</h2>
      <p>
        There are 3 ways you can take a personal budget, they are:
      </p>
      <ul class="list list-bullet">
        <li>
          we will spend your personal budget and arrange your care and support
        </li>
        <li>
          you will arrange your own care and support using a direct payment
        </li>
        <li>
          a combination of both us arranging your care and support, and you arranging your own care and support
        </li>
      </ul>
      <p>
        Your social worker will go through this with you when you agree your care and support plan.
      </p>
    </div>

    <div class="column-two-thirds">
      <h2 class="heading-large">
        Begin your Financial assessment
      </h1>
      <p>
        A financial assessment tells us how much you can afford to pay towards your care and support.
      </p>
      <p>
        It takes around 1.5 hours to complete.</p>
      </p>
        <a class="button button-start" href="#" role="button">Start now</a>
      </p>
    </div>

  </div>
</main>
{% endblock %}
