select {
  font-family: $stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $normal;
  font-size: $body;
  height: $baseline*2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: $full-width;
  padding: 10px;
  border: $border-normal solid $grey-dark;
}