.hero {
  background-image: url(/public/images/footer-hero.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
  background-position-x: 0;
  background-position-y: 0;
  height: $baseline*20;
  &.tree {
    background-image: url(/public/images/main-hero.jpg);
    background-size: 100%;
  }
}