#design input {
  $stack: 'Open Sans', sans-serif;
  font-family: $stack;
}

input {
  @include box-sizing(border-box);
  font-weight: $normal;
  text-transform: none;
  font-size: $body;
  padding: $baseline*0.125 $gutter*0.25;
  border-width: $border-normal;
  border-style: solid;
  border-color: $grey;
  border-image: initial;
  margin-bottom: $baseline;
}
.day, .month, .year {
  float: left;
  width: 50px;
  margin-right: 20px;
  clear: none;
}
.year {
  width: 100px;
  margin-right: 0;
}