// Logo
// ==========================================================================

.logo {
  display: inline-block;
  img {
    display: block;
  }
}

a.logo-text {
  display: inline-block;
  font-family: $stack-logo;
  font-size: ms(4);
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    background-color: $brand;
    outline: $border-thick solid $focus-colour;
  }
  @media print {
    color: $black;
    font-weight: 700;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  span {
    @include small;
    font-weight: $light;
    text-transform: capitalize;
    color: $black;
    margin-left: $gutter*0.125;
  }
}
