.nav {
  ul.nav-links {
    li {
      display: inline-block;
      margin-right: $gutter*0.5;
      a {
        color: $brand;
        font-weight: $bold;
        text-decoration: underline;
        &:hover, &active {
          color: $brand;
          color: lighten($brand, $lighten);
          text-decoration: underline;
        }
      }
    }
  }
}