.overlay {
  background: $overlay;
  width: 100%;
  padding-top: $baseline;
  padding-bottom: $baseline;
  .overlay-box {
    @extend %site-width-container;
    .overlay-content {
      @extend %grid-row;
      h2, p {
        padding-left: $gutter*0.5;
        padding-right: $gutter*0.5;
      }
      h2 {
        margin-top: $baseline*0.5;
      }
      p {
        font-size: $small;
        line-height: $baseline;
        font-weight: $light;
      }
    }
    h3 {
      & a, 
      & a:hover, 
      & a:active, 
      & a:visited {
        color: $black;
      }
    }
  }
}