.print-link {
  @media print {
    display: none;
  }
  margin-top: $baseline;
  margin-bottom: $baseline;
  color: $link;
  cursor: pointer;
  text-decoration: underline;
  &:before {
    @include font-awesome;
    content: "\f02f";
    margin-right: $gutter*0.25;
  }
}