.social {
  @media print {
    display: none;
  }
  li {
    font-size: $baseline;
    display: inline-block;
    margin-right: $gutter*0.5;
    a {
      color: $link;
      &:hover {
        color: $hover;
      }
      &:focus {
         background-color: $black;
         outline: $border-thick solid $focus-colour;
       }
      .fab {
        font-size: $icon*0.5;
      }
    }
  }
  span {
    display: none;
  }
}
