// Textarea
// ==========================================================================

.textarea {
    font-family: $stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: $normal;
    font-size: $body;
    line-height: $baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: $full-width;
    min-height: 40px;
    margin-bottom: $baseline;
    padding: $gutter;
    resize: vertical;
    border: $border-thin*2 solid $text-colour;
    -webkit-appearance: none;
}
