{% extends "layout.html" %}
{% block content %}

<code>
  &lt;form&gt;
</code>
<code>
    &lt;label&gt;Full name&lt;/label&gt;
</code>
<code>
    &lt;span&gt;As shown on your birth certificate or passport&lt;/span&gt;
</code>
<code>
    &lt;input class="" id="" name="" type="" pattern="" min="" max=""&gt;
</code>
<code>
  &lt;/form&gt;
</code>


<form>
  <label>Full name</label>
  <span>As shown on your birth certificate or passport</span>
  <input class="" id="" name="" type="" pattern="" min="" max="">
</form>

{% endblock %}