{% extends "layout.html" %}
{% block content %}

<section class="code">
  <code class="ul">&lt;ul&gt;</code>
  <code class="li">&lt;li&gt;Short term (up to 6 weeks)&lt;/li&gt;</code>
  <code class="li">&lt;li&gt;Aids and minor adaptations&lt;/li&gt;</code>
  <code class="li">&lt;li&gt;Support services offered to carers&lt;/li&gt;</code>
  <code class="ul">&lt;/ul&gt;</code>
</section>


  <ul class="list list-bullet">
    <li>
      Short term (up to 6 weeks)
    </li>
    <li>
      Aids and minor adaptations
    </li>
    <li>
      Support services offered to carers
    </li>
  </ul>

<section class="code">
  <code class="ol">&lt;ol&gt;</code>
  <code class="li">&lt;li&gt;Paying for care and support&lt;/li&gt;</code>
  <code class="li">&lt;li&gt;Care in a residential home&lt;/li&gt;</code>
  <code class="li">&lt;li&gt;Financial assessment explained&lt;/li&gt;</code>
  <code class="ol">&lt;/ol&gt;</code>
</section>


  <ol class="list list-number">
    <li>Paying for care and support</li>
    <li>Care in a residential home</li>
    <li>Financial assessment explained</li>
  </ol>

{% endblock %}
