{% extends "layout.html" %}
{% block page_title %}
  Age
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  <a href="savings-and-investment" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/howOld" method="get" class="form">

      <div class="form-group">
        <fieldset>
          <legend>
            <h1 class="heading-large">How old are you?</h1>
          </legend>
          <div class="multiple-choice">
            <input id="age" type="radio" name="howOld" value="eighteen" {{ checked("option", "eighteen") }}required>
            <label for="age">18 to 24</label>
          </div>
          <div class="multiple-choice">
            <input id="age" type="radio" name="howOld" value="twentyfour" {{ checked("option", "twentyfour") }}required>
            <label for="age">24 to pensionable age</label>
          </div>
          <div class="multiple-choice">
            <input id="age" type="radio" name="howOld" value="pension" {{ checked("option", "pension") }}required>
            <label for="age">Get pension</label>
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>
    </form>

    </div>
  </div>
</main>
{% endblock %}
