{% extends "layout.html" %}
{% block page_title %}
  Benefits
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  <a href="/financial-checker/age" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/benefits" method="get" class="form">

      <div class="form-group">
        <fieldset>
          <legend>
            <h1 class="heading-large">Do you receive any benefits?</h1>
          </legend>
          <p>This doesn't include:</p>
          <ul class="list list-bullet">
            <li>Mobility element of the Disability Living Allowance (DLA)</li>
            <li>Mobility element of Personal Independence Payment (PIP)</li>
            <li>Savings Credit</li>
          </ul>
          <div class="multiple-choice" data-target="receive-benefits">
            <input id="get-benefits" type="radio" name="benefits" value="yes" required>
            <label for="get-benefits">Yes</label>
          </div>
          <div class="multiple-choice">
            <input id="get-benefits" type="radio" name="benefits" value="no" required>
            <label for="get-benefits">No</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="receive-benefits">
            <label class="form-label" for="amount-benefits">Weekly income from benefits</label>
            <input class="form-control" name="benefits" type="text" id="amount-benefits" placeholder="£">
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>
    </form>

    </div>
  </div>
</main>
{% endblock %}
