{% extends "layout.html" %}
{% block page_title %}
  Do you receive any other income?
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  <a href="/financial-checker/rent-property" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/otherIncome" method="get" class="form">

      <div class="form-group">
        <fieldset>
          <legend>
            <h1 class="heading-large">Do you receive any other income?</h1>
          </legend>
          <div class="multiple-choice" data-target="income-amount">
            <input id="other-income" type="radio" name="otherIncome" value="yes" required>
            <label for="other-income">Yes</label>
          </div>
          <div class="multiple-choice">
            <input id="other-income" type="radio" name="otherIncome" value="no" required>
            <label for="other-income">No</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="income-amount">
            <label class="form-label" for="amount-income">How much is your weekly income from other sources?</label>
            <input class="form-control" name="otherIncome" type="text" id="amount-income" placeholder="£" required>
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>
      <p>Other income can include:</p>
      <ul class="list list-bullet">
        <li>salary</li>
        <li>stocks and shares</li>
        <li>trust funds</li>
        <li>bonds</li>
      </ul>
    </form>

    </div>
  </div>
</main>
{% endblock %}
