{% extends "layout.html" %}
{% block page_title %}
  Do you have property that you rent out?
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  <a href="/financial-checker/benefits" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/rentProperty" method="get" class="form">

      <div class="form-group">
        <fieldset>
          <legend>
            <h1 class="heading-large">Do you have a property that you rent out?</h1>
          </legend>
            <p>Note: If you are receiving rent on a property you own, then the value of your share of that property should be included in your capital/savings</p>
          <div class="multiple-choice" data-target="property">
            <input id="rental-income" type="radio" name="rentProperty" value="yes" required>
            <label for="rental-income">Yes</label>
          </div>
          <div class="multiple-choice">
            <input id="rental-income" type="radio" name="rentProperty" value="no" required>
            <label for="rental-income">No</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="property">
            <label class="form-label" for="amount-property">What is your weekly income from renting your property?</label>
            <input class="form-control" name="rentProperty" type="text" id="amount-property" placeholder="£">
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>
    </form>

    </div>
  </div>
</main>
{% endblock %}
