{% extends "layout.html" %}
{% block page_title %}
  State pensions
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  <a href="/financial-checker/private-pensions" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/statePension" method="get" class="form">

      <div class="form-group">
        <fieldset>
          <legend>
            <h1 class="heading-large">Do you receive a state pension?</h1>
          </legend>

          <div class="multiple-choice" data-target="state-pension-amount">
            <input id="get-state-pension" type="radio" name="statePension" value="yes" {{ checked("option", "yes") }}required>
            <label for="get-state-pension">Yes</label>
          </div>
          <div class="multiple-choice">
            <input id="get-state-pension" type="radio" name="statePension" value="no" {{ checked("option", "no") }}required>
            <label for="get-state-pension">No</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="state-pension-amount">
            <label class="form-label" for="amount-state-pension">Weekly income from state pension</label>
            <input class="form-control" name="statePension" type="text" id="amount-state-pension" placeholder="£">
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>
    </form>

    </div>
  </div>
</main>
{% endblock %}
