<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="footer-mid">
    <div id="content">
      <div class="grid-row">
        <div class="column-third">
          <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Privacy & Cookies</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
        </div>
        <div class="column-two-thirds social">
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i><span>Linkedin</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-wrapper">
    <div class="footer-global">
      <div class="footer-logo">
        <a href="/" id="logo" class="content">
          <img src="/public/images/logo-b.svg" width="225" height="30">
        </a>
      </div>
    </div>
  </div>
</footer>