{% extends "layout.html" %}
{% block page_title %}
  Where do you live?
{% endblock %}
{% block content %}
<div id="global-header-bar"></div>
<main id="content" role="main">
  <a href="/financial-checker" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/accomodationType" method="get" class="form">
        <h1 class="heading-large">
          Where do you live?
        </h1>
        <div class="form-group">
          <fieldset>
            <div class="multiple-choice">
              <input id="accomodation-type" type="radio" name="accomodationType" value="flat-house" {{ checked("option", "flat-house") }}required>
              <label for="accomodation-type">Flat/house</label>
            </div>
            <div class="multiple-choice">
              <input id="accomodation-type" type="radio" name="accomodationType" value="residential" {{ checked("option", "residential") }} required>
              <label for="accomodation-type">Residential care (currently in, or about to go in)</label>
            </div>
          </fieldset>
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
